/*
 * ImageHover.css - Demo Page
 * Author: Ciarán Walsh

 * Made available under a MIT License:
 * http://www.opensource.org/licenses/mit-license.php

 */
.demo {
  display: inline-block;
  /*width: 24%;*/
  -webkit-box-sizing: padding-box;
  box-sizing: padding-box;
}
.demo textarea {
  -webkit-box-sizing: padding-box;
  box-sizing: padding-box;
  font-family: "Roboto";
  font-size: 0.9em;
  height: 32px;
  padding: 6px 0px;
  resize: none;
  text-align: center;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.main {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 20px;
}

.sup {
  vertical-align: super;
  margin-left: -1em;
  padding: .3em .5em;
  line-height: 100%;
  font-size: .22em;
  border: #eee solid 1px;
  border-radius: 4px;
  color: inherit;
  background-color: #fff;
}
.sup:hover {
  background: #eee;
}


