/*

[Master Stylesheet]

Project: GLOBALNEWS - News & magazine theme 
Version: 1.0
Author : Webyzona.com

[Table of contents]

1. GENERAL STYLES
   - 1-1 PRELOADER
   - 1-2 STYLE SWITCHER
   - 1-3 GO TO TOP
   - 1-4 ANY TOPIC TITLE
   - 1-5 PAGINATION
   - 1-6 BREADCRUMB
   - 1-7 SUB INFO
   - 1-8 MODAL BOX
   
2. TYPOGRAPHY
   - 2-1 LINKS
   - 2-2 HEADERS
   - 2-3 MISC

3. LAYOUT
   - 3.1 GRID
   - 3.2 PAGE HEADER

4. HEADER
   - 4-1 HEADER TOOL BAR
   - 4-2 TIME AND DATE
   - 4-3 WEATHER
   - 4-4 SITE LOGO
   
5. NAVIGATION
   - 5-1 PARENT NAVIGATION
   - 5-2 CHILD NAVIGATION
   
6. SEARCH

7. HOT NEWS
	
8. BANNER AND OWL CAROUSEL
	- 8-1 OWL CAROUSEL PROGRESS BAR
	- 8-2 OWL CAROUSEL CONTROLS
    - 8-2 OVERLAY ON IMAGES
	- 8-2 OWL CAROUSEL SYNC
	
9. LEFT COLUMN
	- 9-1 BUSINESS SECTION
	- 9-2 SCIENCE AND TRAVEL
    - 9-3 LIFE STYLE
	- 9-4 RECENT VIDEOS
	- 9-5 MASONRY
	- 9-6 AUTHOR
	- 9-7 COMMENTS
	- 9-8 FAQs
	- 9-9 CONTACT
	-9-10 HOME-2
	
10-MID COLUMN

11.RIGHT COLUMN
	- 11-1 ADVERTISEMENT AREA (336PX*280PX)
	- 11-2 SOCIAL COUNTERS
	- 11-3 TABS
	- 11-4 CALENDAR

12.FOOTER
13.404 PAGE
14-MEDIA QUERIES

*/

/*------------------------------------*\
    1-GENERAL STYLES
    \*------------------------------------*/



    /**/
    /*1-1 PRELOADER*/

    @import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");

/*
The above link can also go in HTML document as a link in head.
Rather than @import in an external CSS file,
The following code into the <head> section of your site's HTML.
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
*/


/*
 * Social Buttons for Bootstrap
 *
 * Copyright 2013-2014 Panayiotis Lipiridis
 * Licensed under the MIT License
 *
 * https://github.com/lipis/bootstrap-social
 */

 .btn-social{position:relative;padding-left:44px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}.btn-social :first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
 .btn-social.btn-lg{padding-left:61px}.btn-social.btn-lg :first-child{line-height:45px;width:45px;font-size:1.8em}
 .btn-social.btn-sm{padding-left:38px}.btn-social.btn-sm :first-child{line-height:28px;width:28px;font-size:1.4em}
 .btn-social.btn-xs{padding-left:30px}.btn-social.btn-xs :first-child{line-height:20px;width:20px;font-size:1.2em}
 .btn-social-icon{position:relative;padding-left:44px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;height:30px;width:30px;padding:0}.btn-social-icon :first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
 .btn-social-icon.btn-lg{padding-left:61px}.btn-social-icon.btn-lg :first-child{line-height:45px;width:45px;font-size:1.8em}
 .btn-social-icon.btn-sm{padding-left:38px}.btn-social-icon.btn-sm :first-child{line-height:28px;width:28px;font-size:1.4em}
 .btn-social-icon.btn-xs{padding-left:30px}.btn-social-icon.btn-xs :first-child{line-height:20px;width:20px;font-size:1.2em}
 .btn-social-icon :first-child{border:none;text-align:center;width:100% !important}
 .btn-social-icon.btn-lg{height:45px;width:45px;padding-left:0;padding-right:0}
 .btn-social-icon.btn-sm{height:30px;width:30px;padding-left:0;padding-right:0}
 .btn-social-icon.btn-xs{height:22px;width:22px;padding-left:0;padding-right:0}
 .btn-bitbucket{color:#fff;background-color:#205081;border-color:rgba(0,0,0,0.2)}.btn-bitbucket:hover,.btn-bitbucket:focus,.btn-bitbucket:active,.btn-bitbucket.active,.open .dropdown-toggle.btn-bitbucket{color:#fff;background-color:#183c60;border-color:rgba(0,0,0,0.2)}
 .btn-bitbucket:active,.btn-bitbucket.active,.open .dropdown-toggle.btn-bitbucket{background-image:none}
 .btn-bitbucket.disabled,.btn-bitbucket[disabled],fieldset[disabled] .btn-bitbucket,.btn-bitbucket.disabled:hover,.btn-bitbucket[disabled]:hover,fieldset[disabled] .btn-bitbucket:hover,.btn-bitbucket.disabled:focus,.btn-bitbucket[disabled]:focus,fieldset[disabled] .btn-bitbucket:focus,.btn-bitbucket.disabled:active,.btn-bitbucket[disabled]:active,fieldset[disabled] .btn-bitbucket:active,.btn-bitbucket.disabled.active,.btn-bitbucket[disabled].active,fieldset[disabled] .btn-bitbucket.active{background-color:#205081;border-color:rgba(0,0,0,0.2)}
 .btn-dropbox{color:#fff;background-color:#1087dd;border-color:rgba(0,0,0,0.2)}.btn-dropbox:hover,.btn-dropbox:focus,.btn-dropbox:active,.btn-dropbox.active,.open .dropdown-toggle.btn-dropbox{color:#fff;background-color:#0d70b7;border-color:rgba(0,0,0,0.2)}
 .btn-dropbox:active,.btn-dropbox.active,.open .dropdown-toggle.btn-dropbox{background-image:none}
 .btn-dropbox.disabled,.btn-dropbox[disabled],fieldset[disabled] .btn-dropbox,.btn-dropbox.disabled:hover,.btn-dropbox[disabled]:hover,fieldset[disabled] .btn-dropbox:hover,.btn-dropbox.disabled:focus,.btn-dropbox[disabled]:focus,fieldset[disabled] .btn-dropbox:focus,.btn-dropbox.disabled:active,.btn-dropbox[disabled]:active,fieldset[disabled] .btn-dropbox:active,.btn-dropbox.disabled.active,.btn-dropbox[disabled].active,fieldset[disabled] .btn-dropbox.active{background-color:#1087dd;border-color:rgba(0,0,0,0.2)}
 .btn-facebook{color:#fff;background-color:#3b5998;border-color:rgba(0,0,0,0.2)}.btn-facebook:hover,.btn-facebook:focus,.btn-facebook:active,.btn-facebook.active,.open .dropdown-toggle.btn-facebook{color:#fff;background-color:#30487b;border-color:rgba(0,0,0,0.2)}
 .btn-facebook:active,.btn-facebook.active,.open .dropdown-toggle.btn-facebook{background-image:none}
 .btn-facebook.disabled,.btn-facebook[disabled],fieldset[disabled] .btn-facebook,.btn-facebook.disabled:hover,.btn-facebook[disabled]:hover,fieldset[disabled] .btn-facebook:hover,.btn-facebook.disabled:focus,.btn-facebook[disabled]:focus,fieldset[disabled] .btn-facebook:focus,.btn-facebook.disabled:active,.btn-facebook[disabled]:active,fieldset[disabled] .btn-facebook:active,.btn-facebook.disabled.active,.btn-facebook[disabled].active,fieldset[disabled] .btn-facebook.active{background-color:#3b5998;border-color:rgba(0,0,0,0.2)}
 .btn-flickr{color:#fff;background-color:#ff0084;border-color:rgba(0,0,0,0.2)}.btn-flickr:hover,.btn-flickr:focus,.btn-flickr:active,.btn-flickr.active,.open .dropdown-toggle.btn-flickr{color:#fff;background-color:#d6006f;border-color:rgba(0,0,0,0.2)}
 .btn-flickr:active,.btn-flickr.active,.open .dropdown-toggle.btn-flickr{background-image:none}
 .btn-flickr.disabled,.btn-flickr[disabled],fieldset[disabled] .btn-flickr,.btn-flickr.disabled:hover,.btn-flickr[disabled]:hover,fieldset[disabled] .btn-flickr:hover,.btn-flickr.disabled:focus,.btn-flickr[disabled]:focus,fieldset[disabled] .btn-flickr:focus,.btn-flickr.disabled:active,.btn-flickr[disabled]:active,fieldset[disabled] .btn-flickr:active,.btn-flickr.disabled.active,.btn-flickr[disabled].active,fieldset[disabled] .btn-flickr.active{background-color:#ff0084;border-color:rgba(0,0,0,0.2)}
 .btn-foursquare{color:#fff;background-color:#0072b1;border-color:rgba(0,0,0,0.2)}.btn-foursquare:hover,.btn-foursquare:focus,.btn-foursquare:active,.btn-foursquare.active,.open .dropdown-toggle.btn-foursquare{color:#fff;background-color:#005888;border-color:rgba(0,0,0,0.2)}
 .btn-foursquare:active,.btn-foursquare.active,.open .dropdown-toggle.btn-foursquare{background-image:none}
 .btn-foursquare.disabled,.btn-foursquare[disabled],fieldset[disabled] .btn-foursquare,.btn-foursquare.disabled:hover,.btn-foursquare[disabled]:hover,fieldset[disabled] .btn-foursquare:hover,.btn-foursquare.disabled:focus,.btn-foursquare[disabled]:focus,fieldset[disabled] .btn-foursquare:focus,.btn-foursquare.disabled:active,.btn-foursquare[disabled]:active,fieldset[disabled] .btn-foursquare:active,.btn-foursquare.disabled.active,.btn-foursquare[disabled].active,fieldset[disabled] .btn-foursquare.active{background-color:#0072b1;border-color:rgba(0,0,0,0.2)}
 .btn-github{color:#fff;background-color:#444;border-color:rgba(0,0,0,0.2)}.btn-github:hover,.btn-github:focus,.btn-github:active,.btn-github.active,.open .dropdown-toggle.btn-github{color:#fff;background-color:#303030;border-color:rgba(0,0,0,0.2)}
 .btn-github:active,.btn-github.active,.open .dropdown-toggle.btn-github{background-image:none}
 .btn-github.disabled,.btn-github[disabled],fieldset[disabled] .btn-github,.btn-github.disabled:hover,.btn-github[disabled]:hover,fieldset[disabled] .btn-github:hover,.btn-github.disabled:focus,.btn-github[disabled]:focus,fieldset[disabled] .btn-github:focus,.btn-github.disabled:active,.btn-github[disabled]:active,fieldset[disabled] .btn-github:active,.btn-github.disabled.active,.btn-github[disabled].active,fieldset[disabled] .btn-github.active{background-color:#444;border-color:rgba(0,0,0,0.2)}
 .btn-google-plus{color:#fff;background-color:#dd4b39;border-color:rgba(0,0,0,0.2)}.btn-google-plus:hover,.btn-google-plus:focus,.btn-google-plus:active,.btn-google-plus.active,.open .dropdown-toggle.btn-google-plus{color:#fff;background-color:#ca3523;border-color:rgba(0,0,0,0.2)}
 .btn-google-plus:active,.btn-google-plus.active,.open .dropdown-toggle.btn-google-plus{background-image:none}
 .btn-google-plus.disabled,.btn-google-plus[disabled],fieldset[disabled] .btn-google-plus,.btn-google-plus.disabled:hover,.btn-google-plus[disabled]:hover,fieldset[disabled] .btn-google-plus:hover,.btn-google-plus.disabled:focus,.btn-google-plus[disabled]:focus,fieldset[disabled] .btn-google-plus:focus,.btn-google-plus.disabled:active,.btn-google-plus[disabled]:active,fieldset[disabled] .btn-google-plus:active,.btn-google-plus.disabled.active,.btn-google-plus[disabled].active,fieldset[disabled] .btn-google-plus.active{background-color:#dd4b39;border-color:rgba(0,0,0,0.2)}
 .btn-instagram{color:#fff;background-color:#3f729b;border-color:rgba(0,0,0,0.2)}.btn-instagram:hover,.btn-instagram:focus,.btn-instagram:active,.btn-instagram.active,.open .dropdown-toggle.btn-instagram{color:#fff;background-color:#335d7e;border-color:rgba(0,0,0,0.2)}
 .btn-instagram:active,.btn-instagram.active,.open .dropdown-toggle.btn-instagram{background-image:none}
 .btn-instagram.disabled,.btn-instagram[disabled],fieldset[disabled] .btn-instagram,.btn-instagram.disabled:hover,.btn-instagram[disabled]:hover,fieldset[disabled] .btn-instagram:hover,.btn-instagram.disabled:focus,.btn-instagram[disabled]:focus,fieldset[disabled] .btn-instagram:focus,.btn-instagram.disabled:active,.btn-instagram[disabled]:active,fieldset[disabled] .btn-instagram:active,.btn-instagram.disabled.active,.btn-instagram[disabled].active,fieldset[disabled] .btn-instagram.active{background-color:#3f729b;border-color:rgba(0,0,0,0.2)}
 .btn-linkedin{color:#fff;background-color:#007bb6;border-color:rgba(0,0,0,0.2)}.btn-linkedin:hover,.btn-linkedin:focus,.btn-linkedin:active,.btn-linkedin.active,.open .dropdown-toggle.btn-linkedin{color:#fff;background-color:#005f8d;border-color:rgba(0,0,0,0.2)}
 .btn-linkedin:active,.btn-linkedin.active,.open .dropdown-toggle.btn-linkedin{background-image:none}
 .btn-linkedin.disabled,.btn-linkedin[disabled],fieldset[disabled] .btn-linkedin,.btn-linkedin.disabled:hover,.btn-linkedin[disabled]:hover,fieldset[disabled] .btn-linkedin:hover,.btn-linkedin.disabled:focus,.btn-linkedin[disabled]:focus,fieldset[disabled] .btn-linkedin:focus,.btn-linkedin.disabled:active,.btn-linkedin[disabled]:active,fieldset[disabled] .btn-linkedin:active,.btn-linkedin.disabled.active,.btn-linkedin[disabled].active,fieldset[disabled] .btn-linkedin.active{background-color:#007bb6;border-color:rgba(0,0,0,0.2)}
 .btn-tumblr{color:#fff;background-color:#2c4762;border-color:rgba(0,0,0,0.2)}.btn-tumblr:hover,.btn-tumblr:focus,.btn-tumblr:active,.btn-tumblr.active,.open .dropdown-toggle.btn-tumblr{color:#fff;background-color:#1f3346;border-color:rgba(0,0,0,0.2)}
 .btn-tumblr:active,.btn-tumblr.active,.open .dropdown-toggle.btn-tumblr{background-image:none}
 .btn-tumblr.disabled,.btn-tumblr[disabled],fieldset[disabled] .btn-tumblr,.btn-tumblr.disabled:hover,.btn-tumblr[disabled]:hover,fieldset[disabled] .btn-tumblr:hover,.btn-tumblr.disabled:focus,.btn-tumblr[disabled]:focus,fieldset[disabled] .btn-tumblr:focus,.btn-tumblr.disabled:active,.btn-tumblr[disabled]:active,fieldset[disabled] .btn-tumblr:active,.btn-tumblr.disabled.active,.btn-tumblr[disabled].active,fieldset[disabled] .btn-tumblr.active{background-color:#2c4762;border-color:rgba(0,0,0,0.2)}
 .btn-twitter{color:#fff;background-color:#55acee;border-color:rgba(0,0,0,0.2)}.btn-twitter:hover,.btn-twitter:focus,.btn-twitter:active,.btn-twitter.active,.open .dropdown-toggle.btn-twitter{color:#fff;background-color:#309aea;border-color:rgba(0,0,0,0.2)}
 .btn-twitter:active,.btn-twitter.active,.open .dropdown-toggle.btn-twitter{background-image:none}
 .btn-twitter.disabled,.btn-twitter[disabled],fieldset[disabled] .btn-twitter,.btn-twitter.disabled:hover,.btn-twitter[disabled]:hover,fieldset[disabled] .btn-twitter:hover,.btn-twitter.disabled:focus,.btn-twitter[disabled]:focus,fieldset[disabled] .btn-twitter:focus,.btn-twitter.disabled:active,.btn-twitter[disabled]:active,fieldset[disabled] .btn-twitter:active,.btn-twitter.disabled.active,.btn-twitter[disabled].active,fieldset[disabled] .btn-twitter.active{background-color:#55acee;border-color:rgba(0,0,0,0.2)}
 .btn-vk{color:#fff;background-color:#ec0606;border-color:rgba(0,0,0,0.2)}.btn-vk:hover,.btn-vk:focus,.btn-vk:active,.btn-vk.active,.open .dropdown-toggle.btn-vk{color:#fff;background-color:#4a6a89;border-color:rgba(0,0,0,0.2)}
 .btn-vk:active,.btn-vk.active,.open .dropdown-toggle.btn-vk{background-image:none}
 .btn-vk.disabled,.btn-vk[disabled],fieldset[disabled] .btn-vk,.btn-vk.disabled:hover,.btn-vk[disabled]:hover,fieldset[disabled] .btn-vk:hover,.btn-vk.disabled:focus,.btn-vk[disabled]:focus,fieldset[disabled] .btn-vk:focus,.btn-vk.disabled:active,.btn-vk[disabled]:active,fieldset[disabled] .btn-vk:active,.btn-vk.disabled.active,.btn-vk[disabled].active,fieldset[disabled] .btn-vk.active{background-color:#587ea3;border-color:rgba(0,0,0,0.2)}
 /*end social media*/

 /**/
 body{ background: #fafafa;}
 .widget-area.blank {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
body .no-padding {
  padding-right:0px; 
  padding-left:0px;
}
body .no-padding-left { 
  padding-left:0px;
}
p{
  font-family:'Open Sans';
}


.jarak{
  margin-top: 50px;
}
.dxd{
  display: block;

}
.affix-header {
  position: fixed;
  top: 0px;
  z-index: 99;
  width: 100%;

}
.no-padding{
  padding-left: 5px;
  padding-right: 5px;
}
.mobile-show{
  display: none;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: #d21112;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 0px;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;;
  width: 100%;
}
.caret-up {
  /* Safari */
  -webkit-transform: rotate(-180deg);

  /* Firefox */
  -moz-transform: rotate(-180deg);

  /* IE */
  -ms-transform: rotate(-180deg);

  /* Opera */
  -o-transform: rotate(-180deg);

  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=6);

}
.drop-up {
  top: auto;
  bottom: 100% !important;
}
.search-mini{
  margin: 14px;float: right;
  border-radius: 100%;
  background-color: #da0008;
}
.title-mobile {
  padding: 7px 20px;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 18px;

}
.pading30{
  padding-left: 30px;
  padding-right: 30px;
}
.sosialmedia li{
  padding: 5px 0px 5px;
  color: #474747;
}
.jaringan li{
  padding: 5px 0px 5px;
  border-top: 1px solid #e8e8e8;
  color: #474747;
}
.head-title{
  text-transform: uppercase;
  font-size: 12px;
  padding-bottom: 10px;
}

/*news logo*/
.red-bg-gradient{  
  /* For browsers that do not support gradients */
  background-color: #be0404;
  background: -webkit-linear-gradient(left, #be0404 , #95251d); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #be0404 , #95251d); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #be0404 , #95251d); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right,#be0404 , #95251d); /* Standard syntax (must be last) */
}

/*hunian logo*/
.green-bg-gradient{  
  /* For browsers that do not support gradients */
  background-color: #007136;
  background: -webkit-linear-gradient(left, #007136 , #006336); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #007136 , #006336); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #007136 , #006336); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right,#007136 , #006336); /* Standard syntax (must be last) */
}

.blue-bg-gradient{  
  /* For browsers that do not support gradients */
  background-color: #196498;
  background: -webkit-linear-gradient(left, #196498 , #195496); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #196498 , #195496); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #196498 , #195496); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right,#196498 , #195496); /* Standard syntax (must be last) */
}

.mix-bg-gradient{  
  /* For browsers that do not support gradients */
  background-color: #39abc1;
  background: -webkit-linear-gradient(left, #39abc1 , #7c61f0); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #39abc1 , #7c61f0); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #39abc1 , #7c61f0); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right,#39abc1 , #7c61f0); /* Standard syntax (must be last) */
}

.violet-bg-gradient{  
  /* For browsers that do not support gradients */
  background-color: #a72ba8;
  background: -webkit-linear-gradient(left, #a72ba8 , #780198); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #a72ba8 , #780198); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #a72ba8 , #780198); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right,#a72ba8 , #780198); /* Standard syntax (must be last) */
}

.grey-bg-gradient{  
  /* For browsers that do not support gradients */
  background-color: #898987;
  background: -webkit-linear-gradient(left, #898987 , #686866); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #898987 , #686866); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #898987 , #686866); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right,#898987 , #686866); /* Standard syntax (must be last) */
}

#search {
  z-index: 999;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #fff;

  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;

  -webkit-transform: translate(0px, -100%) scale(0, 0);
  -moz-transform: translate(0px, -100%) scale(0, 0);
  -o-transform: translate(0px, -100%) scale(0, 0);
  -ms-transform: translate(0px, -100%) scale(0, 0);
  transform: translate(0px, -100%) scale(0, 0);

  opacity: 0;
}

#search.open {
  -webkit-transform: translate(0px, 0px) scale(1, 1);
  -moz-transform: translate(0px, 0px) scale(1, 1);
  -o-transform: translate(0px, 0px) scale(1, 1);
  -ms-transform: translate(0px, 0px) scale(1, 1);
  transform: translate(0px, 0px) scale(1, 1); 
  opacity: 1;
}

#search input[type="search"] {
  position: absolute;
  top: 50%;
  width: 100%;
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0);
  font-size: 40px;
  font-weight: 300;
  text-align: center;
  border: 0px;
  margin: 0px auto;
  margin-top: -15px;
  padding-left: 70px;
  padding-right: 30px;
  outline: none;
  border: 1px white solid;
}
#search .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 61px;
  margin-left: -45px;
}
#search .close {
  position: fixed;
  color: #635e5e;
  /* background-color: #847e7e; */
  border-color: #101010;
  opacity: 1;
  padding: 0px 10px;
  font-size: 40px;
}

.dropdown-large {
  position: static !important;
}
.dropdown-menu-large {
  margin-left: 16px;
  margin-right: 16px;
  padding: 20px 0px;
}
.dropdown-menu-large > li > ul {
  padding: 0;
  margin: 0;
}
.dropdown-menu-large > li > ul > li {
  list-style: none;
}
.dropdown-menu-large > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: normal;
}
.dropdown-menu-large > li ul > li > a:hover,
.dropdown-menu-large > li ul > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}
.dropdown-menu-large .disabled > a,
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  color: #999999;
}
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.dropdown-menu-large .dropdown-header {
  color: #428bca;
  font-size: 18px;
}
@media (max-width: 768px) {

  .dropdown-menu-large {
    margin-left: 0 ;
    margin-right: 0 ;
  }
  .dropdown-menu-large > li {
    margin-bottom: 30px;
  }
  .dropdown-menu-large > li:last-child {
    margin-bottom: 0;
  }
  .dropdown-menu-large .dropdown-header {
    padding: 3px 15px !important;
  }
  .affix-header {
    position: fixed;
  }
  .dxd {
   display: none;
 }
 .mobile-show{
  display: block;
}
}



.widget-area {
  background-color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
  float: left;
  margin-top: 30px;
  padding: 25px 30px;
  position: relative;
  width: 100%;
}
.status-upload {
  background: none repeat scroll 0 0 #e8e8e8;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  float: left;
  width: 100%;
  padding-bottom: 10px;
}
.status-upload form {
  float: left;
  width: 100%;
}
.status-upload form textarea {
  background: none repeat scroll 0 0 #fff;
  border: medium none;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  color: #777777;
  float: left;
  /*font-family: Lato;*/
  font-size: 14px;
  height: 142px;
  letter-spacing: 0.3px;
  padding: 20px;
  width: 100%;
  resize:vertical;
  outline:none;
  border: 1px solid #e8e8e8;
}

.status-upload ul {
  float: left;
  list-style: none outside none;
  margin: 0;
  padding: 0 0 0 15px;
  width: auto;
}
.status-upload ul > li {
  float: left;
}
.status-upload ul > li > a {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  color: #777777;
  float: left;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  margin: 10px 0 10px 10px;
  text-align: center;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  width: 30px;
  cursor: pointer;
}
.status-upload ul > li > a:hover {
  background: none repeat scroll 0 0 #606060;
  color: #fff;
}
.status-upload form button {
  border: medium none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  float: right;
  font-family: Lato;
  font-size: 14px;
  letter-spacing: 0.3px;
  margin-right: 9px;
  margin-top: 9px;
  padding: 6px 15px;
}
.dropdown > a > span.green:before {
  border-left-color: #2dcb73;
}
.status-upload form button > i {
  margin-right: 7px;
}

.mynavigasi{
  padding: 20px;
  background-color: #ed1c24;
  border-bottom: 1px #757272 solid;
  margin-bottom: 20px;
}
#status {
	width: 220px;
	height: 150px;
	position: absolute;
	left: 50%;
	top: 50%;
	background-image: url(../images/general/status-logo.png);
	background-repeat: no-repeat;
	background-position: center;
	margin: -100px 0 0 -100px;
}
/*1-2 STYLE SWITCHER*/
.switcher {
	width: 45px;
	padding: 10px 10px 5px 8px;
	position: fixed;
	z-index: 2000;
	top: 300px;
	background-color: #fff;
	border: 1px solid #ededed;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
	color: #fff;
}
.switcher #switch-panel {
	position: absolute;
	right: -40px;
	top: 0;
	width: 40px;
	height: 40px;
	z-index: 1990;
	display: block;
	background-color: #ed1c24;
	margin-left: 0;
	cursor: pointer;
	text-align: center;
}
.switcher #switch-panel i {
	font-size: 25px;
	line-height: 40px;
	color: #fff;
	display: inline-block;
	width: 40px;
	height: 40px;
	-webkit-animation: spin 4s linear infinite;
	-moz-animation: spin 4s linear infinite;
	animation: spin 4s linear infinite;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform:rotate(360deg);
  }
}
#switcher .colors-list {
	margin: 0;
	padding: 0;
	display: block;
	float: left;
	width: 100%;
}
#switcher .colors-list li {
	float: left;
	display: block;
	margin-bottom: 2px;
	margin-right: 6px;
}
#switcher .colors-list li a {
	display: inline-block;
	width: 24px;
	height: 24px;
	cursor: pointer;
}
#switcher .colors-list a.red {
	/*background-color: #ed1c24; /*THIS IS FOURTH COLOUR*/*/
}

/*1-3 GO TO TOP*/

#scrollUp {
	background-color: #ed1c24;
	background-image: url("../images/general/top-red.png");
	bottom: 20px;
	right: 20px;
	width: 38px;    /* Width of image */
	height: 38px;   /* Height of image */
}
/*1-4 ANY TOPIC TITLE*/
.main-title-outer {
	/*border-bottom: 1px solid #ededed;*/
	width: 100%;
	margin-bottom: -10px;
}
.main-title-list {
  width: 100%;
  margin-left: 0px;
  font-weight: 600;
}
.main-title-red {
  width: 100%;
  margin-left: 0px;
  color: red;
  font-weight: 600;
  padding-bottom: 10px;
}
.main-title-down{
	width: 100%;
  margin-bottom: 20px;
  margin-left: -4px;
  margin-top: 20px;
}
.main-title-up{
	width: 100%;
  margin-left: 5px;
}

.main-title-noline{
	/*border-bottom: 1px solid #ededed;*/
	width: 100%;
	/*margin-bottom: 10px;*/
}
.main-title {
	/*border-left: solid 2px #ed1c24;*/
	position: relative;
	z-index: 1;
	/*background-color: #ed1c24;*/
	float: left;
	margin: 0 0px;
	text-align: center;
	border-bottom: none;
	padding: 0 10px 0 5px;
	font-size: 20px;
	font-weight: bold;
	text-transform: capitalize;
	text-align: left;
	color: #474747;
	height: 36px;
	line-height: 36px;
}
.main-title:before {
	content: "";
	display: block;
	position: absolute;
	left: -8px;
	/*border-left: solid 4px #ed1c24;*/
	width: auto;
	margin-top: 0;
	min-height: 100%;
	z-index: 10;
}
/*1-5 PAGINATION*/
.pagination {
}
.pagination li a, .pagination li span {
	border: 1px solid #ededed !important;
}
.pagination li a:hover, .pagination li span:hover, .pagination li a:focus, .pagination li span:focus {
	background: #ededed;
	border: 1px soild #ededed;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	background: #ed1c24;
	border: 1px solid #e40505!important;
}
.pagination > li > a, .pagination > li > span {
	color: #3d566e;
}
/*1-6 BREADCRUMB*/
.breadcrumb {
	background: none;
	font-size: 13px;
	float: right;
	padding: 12px 0 10px 15px;
	text-transform: capitalize;
}
.breadcrumb .active {
	color: #ed1c24;
}
.breadcrumb > li + li:before {
	color: #78899b;
	content: "\f152";
	font-family: "ionicons";
}
/*1-7 SUB INFO*/
.sub-info {
	font-size: 12px;
}
.sub-info-bordered {
	font-size: 12px;
	/*border-top: 1px solid #ededed;
	border-bottom: 1px solid #ededed;
	padding: 8px 0;
	*/margin-bottom: 10px;
}
.sub-info-bordered div {
	display: inline-block;
}
.sub-info-bordered .stars {
	float: right;
}
.sub-info-bordered a {
	color: #ed1c24;
}
.sub-info-bordered a:hover {
	text-decoration: underline;
}
.last-update {
	font-size: 12px;
	line-height: 36px;
}
.time {
	padding-right: 10px;
	display: inline-block;
}
.author {
	padding-right: 10px;
	display: inline-block;
}
.comments {
	display: inline-block;
}
.stars {
	font-size: 14px;
	color: #ed1c24;
}
/*1-8 MODAL BOX*/
.mfp-zoom-in { /* start state */ /* animate in */ /* animate out */
}
.mfp-zoom-in .mfp-with-anim {
	opacity: 0;
	transition: all 0.2s ease-in-out;
	transform: scale(0.8);
}
.mfp-zoom-in.mfp-bg {
	opacity: 0;
	transition: all 0.3s ease-out;
}
.mfp-zoom-in.mfp-ready .mfp-with-anim {
	opacity: 1;
	transform: scale(1);
}
.mfp-zoom-in.mfp-ready.mfp-bg {
	opacity: 0.8;
}
.mfp-zoom-in.mfp-removing .mfp-with-anim {
	transform: scale(0.8);
	opacity: 0;
}
.mfp-zoom-in.mfp-removing.mfp-bg {
	opacity: 0;
}
.white-popup {
	position: relative;
	background: #fff;
	padding: 25px;
	width: auto;
	max-width: 400px;
	margin: 0 auto;
}
.mfp-close-btn-in .mfp-close {
	color: #ed1c24;
}
/*------------------------------------*\
    2-TYPOGRAPHY
    \*------------------------------------*/




    .features-table li {
      background: #da9748 none repeat scroll 0 0;
      border-bottom: 2px solid #e5a253;
      color: #f1f1f1;
      font-size: 16px;
      padding: 15px 24px;
    }
    .features-table li:hover{
      background:  #e5a253;
      cursor:pointer;
      -webkit-transition: all .35s;
      -moz-transition: all .35s;
      transition: all .35s;
    }
    .features-table-free li, .features-table-paid li {
      background: #efefef none repeat scroll 0 0;
      border-bottom: 2px solid #d4d4d4;
      text-align:center;
      padding: 16.4px 21px;
      cursor:pointer;
    }
    .features-table-free h1, .features-table-paid h1 {
      text-align: center;
    }
    .features-table-free li:hover, .features-table-paid li:hover {
      background: #dedede none repeat scroll 0 0;
      -webkit-transition: all .35s;
      -moz-transition: all .35s;
      transition: all .35s;
    }
    .features_table h1 {
      font-size: 23px !important;
    }
    .features-table, .features-table-free, .features-table-paid {
      /*background: #6b6b6b none repeat scroll 0 0;*/
      color: #fff;
      margin: 0;
      padding: 30px 30px;
      /*text-transform: uppercase;*/
    }
    .features-table {
      /*border-top-left-radius: 20px;*/
      text-align:left;
      background-color: #eceaea;
    }
    .features-table-paid {
      /*border-top-right-radius: 20px;*/
      text-align:center;
      /*background-color: #8fc9e2;*/
    }



    .no-padding{
      padding:0;
    }


    /*2-1 LINKS*/

    a {
     color: #fdfdfd;
   }
   a:hover, a:focus {
     color: #ed1c24;
     text-decoration: none;
     outline: none;
   }
   a:hover img {
     /*border: 1px solid #ffcfca;*/
     /*opacity: 0.6;*/
   }
   p {
     color: #474747;
   }
   /*2-2 HEADERS*/
   h1 {
     font-size: 24px;
     color: #474747;
     font-weight: bold;
     text-transform: capitalize;
     letter-spacing: 0;
     font-size: 32px;
   }
   h2 {
     font-size: 22px;
     color: #474747;
     font-weight: bold;
   }
   h3 {
     font-size: 20px;
     color: #474747;
     font-weight: bold;
   }
   h4 {
     color: #474747;
     font-size: 14px;
     font-weight: bold;
   }
   h5 {
     color: #474747;
     font-size: 14px;
     font-weight: bold;
   }
   h6 {
     color: #474747;
     font-size: 14px;
     font-weight: bold;
   }
   h1, .h1, h2, .h2, h3, .h3 {
     margin-top: 10px;
     margin-bottom: 10px;
   }
   h4, .h4, h5, .h5, h6, .h6 {
     margin-top: 5px;
     margin-bottom: 5px;
     margin-right: 10px;
   }
   a:hover h3, a:hover h2 {
     color: #ed1c24;
   }
   /*2-3 MISC */
   * {
     /*border-radius: 0 !important;*/
   }
   *:focus {
     outline: none;
   }

   body {
     font-family:'Montserrat',Open Sans;
     color: #8d9aa5;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     background-color: #fdfdfd;
   }
   mark {
     background: #ed1c24;
     color: #fff;
   }
   br {
     margin: 5px 0;
   }
   hr {
     border-top: 1px solid #d21112;
   }
   blockquote {
     border-color: #ed1c24;
   }
   blockquote p {
     color: #ed1c24;
   }
   .frame-x{
     margin-top: 10px;
   }
   .bardown-two{
     font-weight: 400;
   }
   .subscribe-sidebar{
     back
     ground-color: #eceaea;height: 435px;border: 2px #eceaea solid;
   }
   .btn-ads{
    border-radius: 0 !important;
    width: 120px;
    background-color: #ed1c24;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    border-color: #ed1c24;
  }
  .btn-ads:hover{
    border-radius: 0 !important;
    width: 120px;
    color: #ed1c24;
    background-color: rgba(0,0,0,0.0);
    text-transform: uppercase;
    font-weight: 700;
    border-color: #ed1c24;
  }
  .btn-ads-profile{
    border-radius: 0 !important;
    width: 120px;
    background-color: #ed1c24;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    border-color: #ed1c24;
  }
  .btn-ads-profile:hover{
    border-radius: 0 !important;
    width: 120px;
    color: #ed1c24;
    /*background-color: rgba(0,0,0,0.0);*/
    text-transform: uppercase;
    font-weight: 700;
    border-color: #ed1c24;
  }
  .btn-ads-yellow{
    border-radius: 0 !important;
    width: 170px;
    background-color: #fbc63d;
    color: #020202;
    text-transform: capitalize;
    font-weight: 700;
    border-color: #fbc63d;
    margin-top: 40px;
  }
  .title-hight{
    color: #fff;
  }
  .title-hight:hover{
    color: #ed1c24;
  }
  .title-hight2{
    color: #000000;
  }
  .title-hight2:hover{
    color: #ed1c24;
  }
  .btn-ads-yellow:hover{
    border-radius: 0 !important;
    width: 170px;
    background-color: rgba(0,0,0,0.0);
    color: #fbc63d;
    text-transform: capitalize;
    font-weight: 700;
    border-color: #fbc63d;
    margin-top: 40px;
  }
  .box-menu{
   background-color: white;
   height: 370px;
   border: 2px #eceaea solid;
 }
 .box-menu-parallax{
  height: 164px;
  /*border: 2px #eceaea solid;*/
}
.box-menu-parallax-2{
  height: 260px;
  border-radius: 7px;
  border: 1px black solid;
  background: rgba(0,0,0,0.4);

}
.box-menu-profile{
	background-color: white;
  height: 380px;
  border: 2px #eceaea solid;
}
.caption{
	margin-top: 30px;
  margin-left: 45px;
}
.captionx{
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}
.bulat{
	border-radius: 100px;
  margin-top: 25px;
  height: 180px;
  width: 180px;
  border: 2px #bdb9b9 solid;
  display: block;
  margin: auto;
}
.img-thumbnail {
	background-color: #f8f8f8;
	border-radius: 0 !important;
}
.text-danger a {
	color: #929292;
	font-weight: 400;
  margin-top: 6px;
}
.text-danger a:hover {
  color: #ed1c24;
  text-decoration: none;
}
.text-danger-white a {
	color: #fff;
	font-weight: 500;
  margin-top: 6px;
}
.text-danger-white a:hover {
  color: #ed1c24;
  text-decoration: none;
}


.text-danger-list {
	color: #888585;
	font-weight: 400;
  margin-top: 15px;
}
.category{
	color: #ed1c24;
	font-weight: 600;
}

.category-blue{
	color: #5d9df6;
  font-weight: 600;
}
.minitext a{
	font-size: 13px;
  color: #929292;
}
.minitext a:hover{
  color: #ed1c24;
}
.list-group-item-heading{
	font-size: 15px;
	padding-top: 2px;
  font-weight: 600;
}
.text-danger-lg {
	color: #da0008;
	font-weight: 600;
  padding-right: 10px;
}
.text-black-lg {
	color: #000000;
	font-weight: 600;
}
.icon {
	padding-right: 4px;
}
.top-margin {
	margin-top: 45px;
}
.bordered {
	border: 1px solid #ededed;
	padding: 5px 5px 0 5px;
}
.sec-topic {
	margin-bottom: 20px;
	padding-right: 15px;
}
.right-sec .main-title {
	font-size: 14px;
}
.right-sec .list-inline li {
	margin-bottom: 5px;
}
.list-inline li a{
	/*color: #7d7b7b;*/
}
.blue {
	background: #3d566e;
	color: #fff;
}
/*------------------------------------*\
    3-LAYOUT
    \*------------------------------------*/

    /*3-1 GRID */

    .row {
     margin-left: -5px;
     margin-right: -5px;
   }
   .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12, .col-xs-13, .col-sm-13, .col-md-13, .col-lg-13, .col-xs-14, .col-sm-14, .col-md-14, .col-lg-14, .col-xs-15, .col-sm-15, .col-md-15, .col-lg-15, .col-xs-16, .col-sm-16, .col-md-16, .col-lg-16 {
     padding-left: 10px;
     padding-right: 10px;
     padding-bottom: 10px;
     padding-top: 10px;
   }
   /*3-2 PAGE HEADER */
   .page-header {
     margin-top: 15px;
     margin-bottom: 20px;
     border-bottom: 1px solid #ededed;
   }
   .page-header small {
     padding-left: 5px;
     font-size: 14px;
     text-transform: none;
     color: #78899b;
   }
   .page-header h1 {
     display: inline-block;
   }
/*------------------------------------*\
    4-HEADER
    \*------------------------------------*/

    /*4-1 HEADER TOOLBAR */
    .header-toolbar {
     font-size: 11px;
     font-weight: 600;
     color: #78899b;
     border-bottom: 1px solid #ecf0f1;
     padding-top: 15px;
     padding-bottom: 15px;
   }
   .header-toolbar a {
     color: #78899b;
   }
   .header-toolbar a:hover {
     color: #ed1c24;
   }
   .header-toolbar ul.list-inline {
     margin-bottom: 0;
   }
   .header-toolbar ul.list-inline li {
     padding-right: 6px;
     padding-left: 6px;
   }
   /*4-2 TIME & DATE*/
   #time-date {
     text-align: right;
   }
   /*4-3 WEATHER*/

   @font-face {
     font-family: 'weather';
     src: url('../fonts/artill_clean_icons-webfont.eot');
     src: url('../fonts/artill_clean_icons-webfontd41d.eot?#iefix') format('embedded-opentype'), url('../fonts/artill_clean_icons-webfont.woff') format('woff'), url('../fonts/artill_clean_icons-webfont.ttf') format('truetype'), url('../fonts/artill_clean_icons-webfont.html#artill_clean_weather_iconsRg') format('svg');
     font-weight: normal;
     font-style: normal;
   }
   #weather {
     text-transform: uppercase;
     text-align: right;
   }
   #weather i {
     color: #ed1c24;
     font-family: weather;
     font-size: 40px;
     font-weight: normal;
     font-style: normal;
     line-height: 6px;
   }
   .icon-0:before {
     content: ":";
   }
   .icon-1:before {
     content: "p";
   }
   .icon-2:before {
     content: "S";
   }
   .icon-3:before {
     content: "Q";
   }
   .icon-4:before {
     content: "S";
   }
   .icon-5:before {
     content: "W";
   }
   .icon-6:before {
     content: "W";
   }
   .icon-7:before {
     content: "W";
   }
   .icon-8:before {
     content: "W";
   }
   .icon-9:before {
     content: "I";
   }
   .icon-10:before {
     content: "W";
   }
   .icon-11:before {
     content: "I";
   }
   .icon-12:before {
     content: "I";
   }
   .icon-13:before {
     content: "I";
   }
   .icon-14:before {
     content: "I";
   }
   .icon-15:before {
     content: "W";
   }
   .icon-16:before {
     content: "I";
   }
   .icon-17:before {
     content: "W";
   }
   .icon-18:before {
     content: "U";
   }
   .icon-19:before {
     content: "Z";
   }
   .icon-20:before {
     content: "Z";
   }
   .icon-21:before {
     content: "Z";
   }
   .icon-22:before {
     content: "Z";
   }
   .icon-23:before {
     content: "Z";
   }
   .icon-24:before {
     content: "E";
   }
   .icon-25:before {
     content: "E";
   }
   .icon-26:before {
     content: "3";
   }
   .icon-27:before {
     content: "a";
   }
   .icon-28:before {
     content: "A";
   }
   .icon-29:before {
     content: "a";
   }
   .icon-30:before {
     content: "A";
   }
   .icon-31:before {
     content: "6";
   }
   .icon-32:before {
     content: "1";
   }
   .icon-33:before {
     content: "6";
   }
   .icon-34:before {
     content: "1";
   }
   .icon-35:before {
     content: "W";
   }
   .icon-36:before {
     content: "1";
   }
   .icon-37:before {
     content: "S";
   }
   .icon-38:before {
     content: "S";
   }
   .icon-39:before {
     content: "S";
   }
   .icon-40:before {
     content: "M";
   }
   .icon-41:before {
     content: "W";
   }
   .icon-42:before {
     content: "I";
   }
   .icon-43:before {
     content: "W";
   }
   .icon-44:before {
     content: "a";
   }
   .icon-45:before {
     content: "S";
   }
   .icon-46:before {
     content: "U";
   }
   .icon-47:before {
     content: "S";
   }
   #weather h2 {
     color: #3d566e;
     font-size: 14px;
   }
   /*4-4 SITE LOGO*/
   .header {
     padding-top: 20px;
     padding-bottom: 20px;
   }
   .navbar-brand {
     width: 120px;
     height: 50px;
     margin-top: 0px;
     text-indent: 100%;
     white-space: nowrap;
     overflow: hidden;
     background: url('../images/mp-main-logo.png') no-repeat;
     background-size: 100%;
     padding: 0;
   }
/*------------------------------------*\
    5-NAVIGATION
    \*------------------------------------*/

    /*5-1 PARENT NAVIGATION*/
    .sticky-header {
     /*background: #fff;*/
   }
   .navbar-fixed-top {
     top: -60px;
     transition: top 800ms ease 0s;
   }
   .show-2 {
     transition: bottom 800ms ease 0s;
   }
   .show {
     top: 0;
   }
   .navbar-collapse {
     padding-left: 0;
     padding-right: 0;
   }
   .navbar {
     margin-bottom: 0;
     /*height: 50px*/
   }
   .navbar-inverse {
     /*background-color: #fff;*/
     border-top: none;
     border-bottom: 1px solid #d21112;
     border-right: none;
     border-left: none;
     /*margin-bottom: 20px;*/
     /*margin-top: -1px;*/

   }
   .navbar-inverse .navbar-nav li:first-child a {
     padding-left: 0;
   }
   .navbar-inverse .navbar-nav li a {
     color: #101010;
     font-weight: bold;
   }
   .navbar-inverse .navbar-nav li a:hover {
     color: #ed1c24;
   }
   .navbar-inverse .navbar-nav .open a, .navbar-inverse .navbar-nav .open a:hover, .navbar-inverse .navbar-nav .open a:focus {
     color: #101010;
     background: none;
   }
   .navbar-inverse .navbar-nav li a, .navbar-inverse .navbar-nav li a:hover, .navbar-inverse .navbar-nav li a:focus {
     /*border-right: 1px solid #44617d;*/
   }
   .navbar-inverse .navbar-nav li:last-child a {
     border-right: none;
   }
   .navbar-inverse .navbar-nav li.active a, .navbar-inverse .navbar-nav li.active a:hover, .navbar-inverse .navbar-nav li.active a:focus {
     background: none;
     color: #ed1c24;
   }
   .navbar-inverse .navbar-toggle, .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
     border: none;
     background: #ed1c24;
     float: right;
   }
   /*5-2 CHILD NAVIGATION*/
   .navbar-inverse .dropdown-menu {
     background: #fff;
     border: 1px #cccccc solid;
     
   }
   .navbar-inverse .dropdown-menu li a {
     color:#101010 !important;
     font-weight: normal;
     border-right: none;
     padding-top: 10px;
     padding-bottom: 10px;
   }
   .navbar-inverse .dropdown-menu li a:hover, .navbar-inverse .dropdown-menu li a:focus {
     background-color: #ed1c24 !important;
     color: #fff !important;
     border-right: none !important;
   }
   .navbar-inverse .dropdown-menu li:first-child a {
     padding-left: 20px;
   }
   .dropdown-menu > li > a {
     color: #fff;
   }
   .nav-icn {
     margin-left: 5px;
   }
   .nav-sub-icn {
     margin-right: 5px;
   }
   .mega-menu {
     min-width: 784px;
     padding: 10px 0;
   }
   .mega-sub {
     list-style: none;
     padding: 0;
     border-right: 1px solid #c3c3c3;
     margin-right: 10px;
     min-height: 170px;
   }
   .mega-sub a {
     display: block;
     padding: 10px 20px;
   }
   .mega-sub-topics {
     padding-right: 20px;
   }
   .mega-sub-topics h4 {
     color: #101010;
     font-weight: bold;
     font-size: 14px;
     padding: 0 0 5px 0;
   }
   .mega-sub-topics a {
     padding: 0 !important;
   }
   .mega-sub-topics a:hover img {
     opacity: 1;
   }
   .badge {
     background-color: #101010;
   }
/*------------------------------------*\
    6-SEARCH
    \*------------------------------------*/
    .nav-search-outer {
     margin-bottom: 10px;
   }
   .search-container {
     background-color: #ed1c24;
     position: relative;
   }
   .search-container input {
     background-color: #ed1c24;
     border: none;
     color: #fff;
     padding: 1.875rem 0;
     width: 100%;
   }

   ::-webkit-input-placeholder {
     color: #fff;
     opacity: 1 !important;
   }

   :-moz-placeholder { /* Firefox 18- */
     color: #fff;
     opacity: 1 !important;
   }

   ::-moz-placeholder {  /* Firefox 19+ */
     color: #fff;
     opacity: 1 !important;
   }

   :-ms-input-placeholder {
     color: #fff;
     opacity: 1 !important;
   }
   .toggle-search {
     border-left: 1px #c5c5c5 solid;
     height: 40px;
   }
   .toggle-search:hover, .toggle-search:focus {
     color: #fff;
   }
/*------------------------------------*\
    7-HOT NEWS
    \*------------------------------------*/
    .hot-news {
     height: 42px;
     line-height: 42px;
     overflow: hidden;
     margin-bottom: 10px;
   }
   .icon-news {
     font-size: 30px;
     margin-right: 10px;
     background: #ed1c24;
     color: #fff;
     padding: 0 10px;
   }
   .shuffle span {
     font-size: 20px;
     display: inline-block;
   }
   .shuffle a span {
     color: #3d566e;
   }
   .shuffle a:hover span {
     color: #ed1c24;
   }
   .ticker-wrapper.has-js {
     height: 42px;
     display: block;
     width: 800px;
     font-size: 13px;
   }
   .ticker {
     width: 700px;
     height: 42px;
     display: block;
     position: relative;
     overflow: hidden;
     left: -16px;
   }
   .ticker-title {
     display: none;
   }
   .ticker-content {
     margin: 0px;
     position: absolute;
     color: #ed1c24;
     font-weight: bold;
     background-color: #fff;
     overflow: hidden;
     white-space: nowrap;
     line-height: 42px;
   }
   .ticker-content:focus {
    none;
  }
  .ticker-content a {
   text-decoration: none;
   color: #ed1c24;
 }
 .ticker-content a:hover {
   text-decoration: none;
   color: #3d566e;
 }
 .ticker-swipe {
   padding-top: 16px;
   position: absolute;
   top: 0px;
   background-color: #fff;
   display: block;
   width: 800px;
   height: 42px;
 }
 .ticker-swipe span {
   margin-left: 1px;
   background-color: #fff;
   border-bottom: 1px solid #ed1c24;
   height: 12px;
   width: 7px;
   display: block;
 }
 .js-hidden {
   display: none;
 }
 .no-js-news {
   padding: 10px 0px 0px 10px;
   color: #F8F0DB;
 }
 .left .ticker-swipe {
   left: 80px;
 }
 .left .ticker-controls, .left .ticker-content, .left .ticker-title, .left .ticker {
   float: left;
 }
 .left .ticker-controls {
   padding-left: 0;
 }
 .right .ticker-swipe { /*right: 80px;*/
 }
 .right .ticker-controls, .right .ticker-content, .right .ticker-title, .right .ticker {
   float: right;
 }
 .right .ticker-controls {
   padding-right: 6px;
 }
/*------------------------------------*\
    8-BANNER AND OWL CAROUSEL
    \*------------------------------------*/

    /*8-1 OWL CAROUSEL PROGRESS BAR*/
    #bar {
     width: 0%;
     max-width: 100%;
     height: 3px;
     background: #ed1c24;
     position: absolute;
     z-index: 100;
     bottom: 0;
   }
   #progressBar {
     width: 100%;
     background: transparent;
   }
   /*8-2 OWL CAROUSEL CONTROLS*/
   .owl-prev, .owl-next {
     position: absolute;
     display: block;
     height: 36px;
     width: 32px;
     line-height: 52px;
     font-size: 0;
     cursor: pointer;
     background: #ed1c24;
     color: transparent;
     top: 50%;
     margin-top: -10px;
     padding: 0;
     border: none;
     outline: none;
   }
   .owl-prev:hover, .owl-prev:focus, .owl-next:hover, .owl-next:focus {
     outline: none;
     background: #ed1c24;
     color: transparent;
   }
   .owl-prev:hover:before, .owl-prev:focus:before, .owl-next:hover:before, .owl-next:focus:before {
   }
   .owl-prev.owl-disabled:before, .owl-next.owl-disabled:before {
   }
   .owl-prev:before, .owl-next:before {
     font-family: "ionicons";
     font-size: 22px;
     line-height: 1;
     color: white;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
   }
   .owl-prev {
     left: 0;
   }
   .owl-prev:before {
     content: "\f153";
   }
   .owl-next {
     right: 0;
   }
   .owl-next:before {
     content: "\f154";
   }
   .owl-theme .owl-controls {
     margin-top: 10px;
     text-align: center;
   }
   /* Clickable class fix problem with hover on touch devices */
   /* Use it for non-touch hover action */
   .owl-theme .owl-controls.clickable .owl-buttons div:hover {
     filter: Alpha(Opacity=100);/*IE7 fix*/
     opacity: 1;
     text-decoration: none;
   }
   /* Styling Pagination*/

   .owl-theme .owl-controls .owl-page {
     display: inline-block;
     zoom: 1;
     *display: inline;/*IE7 life-saver */
   }
   .owl-theme .owl-controls .owl-page span {
     display: block;
     width: 10px;
     height: 5px;
     margin: 5px 4px;
     background: #3d566e;
   }
   .owl-theme .owl-controls .owl-page span:hover {
     background: #78899b;
   }
   .owl-theme .active span {
     background: #fff!important;
   }
   .owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
     filter: Alpha(Opacity=100);/*IE7 fix*/
     opacity: 1;
   }
   /* preloading images */
   .owl-item.loading {
     min-height: 150px;
     background: url(AjaxLoader.html) no-repeat center center
   }
   .media, .media .media {
     border-bottom: none;
   }
   /*8-3 OVERLAY ON IMAGES*/
   .box {
     position: relative;
     overflow: hidden;
     padding-bottom: 10px;
   }
   .box img {
     -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
     -o-transition: all 0.3s ease;
     -ms-transition: all 0.3s ease;
     transition: all 0.3s ease;
     image-rendering: optimizequality;
   }
   .box:hover img {
     -webkit-transform: scale(1.25); /* Safari and Chrome */
     -moz-transform: scale(1.25); /* Firefox */
     -ms-transform: scale(1.25); /* IE 9 */
     -o-transform: scale(1.25); /* Opera */
     transform: scale(1.25); /*rotate(3deg)*/
     display: inline-block;
     line-height: 0;
   }
   .match-height {
     max-height: 434px;
     overflow: hidden;
   }
   .overlay {
     display: block;
     position: absolute;
     top: 0;
     left: 0;
     z-index: 9;
     background: #3d566e;
     overflow: hidden;
     opacity: 0;
     -webkit-transition: all 0.5s;
     -moz-transition: all 0.5s;
     -o-transition: all 0.5s;
     transition: all 0.5s;
     width: 100%;
     height: 100%;
   }
   .box:hover .overlay {
     opacity: 0.8;
   }
   .overlay-info {
     display: block;
     position: absolute;
     top: 0;
     left: 0;
     z-index: 9;
     overflow: hidden;
     -webkit-transition: all 0.5s;
     -moz-transition: all 0.5s;
     -o-transition: all 0.5s;
     transition: all 0.5s;
     width: 100%;
     height: 100%;
   }
   .box:hover .overlay-info {
     opacity: 1;
   }
   .cat {
     position: absolute;
     text-transform: capitalize;
     left: 15px;
     top: 0;
     padding: 0;
     margin: 0;
     z-index: 10;
     width: auto;
     height: 36px;
     line-height: 36px;
     color: #fff;
     font-size: 12px;
     opacity: 0;
     -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
     -o-transition: all 0.3s;
     transition: all 0.3s;
   }
   .banner-outer-thumb .cat {
     top: 15px;
     opacity: 1;
   }
   .cat-data span {
     width: 36px;
     height: 36px;
     text-align: center;
     color: #fff;
     line-height: 36px;
     font-weight: 700;
     font-size: 22px;
     background: #ed1c24;
     display: inline-block;
     margin-right: 5px;
     float: left;
   }
   .box:hover .cat {
     top: 15px;
     opacity: 1;
   }
   .info {
     display: block;
     position: absolute;
     left: 15px;
     bottom: 0;
     z-index: 100;
     text-align: center;
     color: #fff;
     height: 36px;
     line-height: 36px;
     font-weight: normal;
     font-size: 12px;
     opacity: 0;
     -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
     -o-transition: all 0.3s;
     transition: all 0.3s;
   }
   .banner-outer-thumb .info {
     bottom: 10px;
     opacity: 1;
   }
   .info span {
     font-size: 12px;
     display: inline-block;
     padding: 0 5px 0 10px;
   }
   .info span:first-child {
     padding-left: 0;
   }
   .box:hover .info {
     bottom: 10px;
     opacity: 1;
   }
   .banner-outer-thumb {
     padding-bottom: 15px;
   }
   .carousel-caption {
     left: 25px;
     right: 8%;
     bottom: 10px;
     z-index: 10;
     padding-top: 20px;
     padding-bottom: 0px;
     color: #ffffff;
     text-align: left;
     text-shadow: none;
     font-size: 18px;
     font-weight: bold;
     line-height: 24px;
     font-weight: 600;
   }
   .banner-outer-thumb .carousel-caption {
     position: absolute;
     left: 15px;
     right: 8%;
     bottom: 10px;
     z-index: 10;
     padding-top: 20px;
     padding-bottom: 30px;
     color: #ffffff;
     text-align: left;
     text-shadow: none;
     font-size: 18px;
     font-weight: bold;
     line-height: 24px;
     opacity: 0;
   }
   .banner-outer-thumb a p, .banner-oute-thumbr a:hover p {
     color: #fff;
   }
   .banner-outer-thumb .box:hover .carousel-caption {
     opacity: 1;
   }
   .banner-outer-thumb .item {
     margin: 0 5px;
     padding: 4px;
     ;
     background-color: #f8f8f8;
     border: 1px solid #ededed;
   }
   .banner-outer .carousel-caption {
     position: absolute;
     left: 30px;
     right: 8%;
     bottom: 10px;
     z-index: 10;
     padding-top: 20px;
     padding-bottom: 0px;
     color: #ffffff;
     text-align: left;
     text-shadow: none;
     font-size: 20px;
     font-weight: bold;
     line-height: 24px;
     font-weight: 600;
   }
   .banner-outer a p, .banner-outer a:hover p {
     color: #fff;
   }
   .right-img-top {
     margin-bottom: 10px;
     overflow: hidden;
     height: 212px;
   }
   .right-img-top .box {
     height: 212px;
   }
   .right-img-btm {
     overflow: hidden;
     height: 212px;
   }
   .right-img-btm .box {
     height: 212px;
   }
   /*8-4 OWL CAROUSEL SYNC*/
   #sync2 .item {
     margin: 0 5px;
     cursor: pointer;
   }
   #sync2 .owl-wrapper-outer {
   }
   #sync2 .synced .item {
     border: 2px solid #ed1c24;
   }
/*------------------------------------*\
    9-LEFT COLUMN
    \*------------------------------------*/

    /*9-1 BUSINESS SECTION*/


    .business {
     padding-top: 10px;
     padding-bottom: 10px;
   }
   .list-unstyled li a img {
     margin-right: 10px;
   }
   .list-unstyled li {
     border-bottom: 0px solid #ededed;
     padding-bottom: 5px;

   }
   .list-unstyled li:last-child {
     border-bottom: none;
     padding-bottom: 0;
     margin-bottom: 5px;
   }
   .list-unstyled li a:hover h4 {
     color: #ed1c24;
   }
   .list-unstyled li a:hover .img-thumbnail {
     border: 1px solid #ffcfca;
   }
   #vid-thumbs .owl-controls {
     margin-top: 10px;
     text-align: right;
   }
   .vid-box {
     position: relative;
     width: 100%;
     height: 100%;
   }
   .vid-thumb img {
     margin-bottom: 6px;
   }
   .vid-box span {
     width: 36px;
     height: 36px;
     background-color: #3d566e;
     font-size: 24px;
     color: #fff;
     text-align: center;
     line-height: 36px;
     position: absolute;
     opacity: 1;
     z-index: 100;
     top: 50%;
     left: 50%;
     margin-right: -50%;
     transform: translate(-50%, -50%)
   }
   .vid-thumb:hover span {
     background-color: #ed1c24;
   }
   /*9-2 SCIENCE AND TRAVEL*/
   .left-bordered {
     border-left: 1px solid #ededed;
   }
   /*9-3 LIFE STYLE*/
   .lifestyle img {
     margin-bottom: 5px;
   }
   .lifestyle .item {
     margin: 0 5px;
   }
   .lifestyle .owl-prev, .lifestyle .owl-next {
     margin-top: -55px;
   }
   .lifestyle .owl-prev {
     left: 5px;
   }
   .lifestyle .owl-next {
     right: 5px;
   }
   .lifestyle .owl-item {
   }
   /*9-4 RECENT VIDEOS*/
   .recent-vid-thumb-outer .vid-box {
     position: relative;
   }
   .recent-vid-thumb-outer .vid-thumb img {
     margin-bottom: 10px;
   }
   .recent-vid-thumb-outer .vid-box span {
     width: 36px;
     height: 36px;
     background-color: #3d566e;
     font-size: 24px;
     color: #fff;
     text-align: center;
     line-height: 36px;
     position: absolute;
     opacity: 1;
     z-index: 100;
     top: 50%;
     left: 50%;
     margin-right: -50%;
     transform: translate(-50%, -50%);
     visibility: hidden;
   }
   .recent-vid-thumb-outer .vid-thumb:hover span {
     background-color: #ed1c24;
     visibility: visible;
   }
   .recent-vid .nav-tabs {
     border-bottom: none;
   }
   .recent-vid .nav-tabs li {
     float: none;
   }
   .recent-vid .nav-tabs li a {
     background-color: transparent;
     color: #fff;
     font-weight: bold;
     text-transform: uppercase;
     border: none;
     padding: 0;
     margin-bottom: 6px;
   }
   .recent-vid .nav-tabs li:last-child a {
     margin-bottom: 0;
   }
   .recent-vid .nav-tabs li a span {
     display: none;
   }
   .recent-vid .nav-tabs li a:hover {
     background-color: transparent;
   }
   .recent-vid .nav-tabs li a:hover span {
     display: inline;
   }
   .recent-vid .nav-tabs li.active a, .nav-tabs li.active a:hover, .nav-tabs li.active a:focus {
     background-color: transparent !important;
     color: #fff;
     border: none;
   }
   .recent-vid .nav-tabs li.active a span {
     display: none;
   }
   .recent-vid .tab-content {
     padding: 0;
   }
   .recent-vid .nav-tabs {
     border-bottom: none;
   }
   .recent-vid .nav-tabs li a {
     background-color: transparent;
     color: #fff;
     font-weight: bold;
     text-transform: uppercase;
     border: none;
     padding: 0;
     margin-bottom: 6px;
   }
   .recent-vid .nav-tabs li:last-child a {
     margin-bottom: 0;
   }
   .recent-vid .nav-tabs li a span {
     display: none;
   }
   .recent-vid .nav-tabs li a:hover {
     background-color: transparent;
   }
   .recent-vid .nav-tabs li a:hover span {
     display: inline;
   }
   .recent-vid .nav-tabs li.active a, .nav-tabs li.active a:hover, .nav-tabs li.active a:focus {
     background-color: transparent;
     color: #fff;
     border: none;
   }
   .recent-vid .nav-tabs li.active a span {
     display: none;
   }
   .recent-vid .tab-content {
     padding: 0;
   }
   /*9-5 MASONRY*/
   .grid-container {
     position: relative;
     width: 100%;
     overflow: hidden;
     transition: all 0.5s;
     -webkit-transition: all 0.5s;
   }
   .toggle {
     text-align: center;
     padding: 0;
     color: white;
   }
   .toggle li {
     display: inline;
     padding: 0 60px;
   }
   .toggle label {
     font-size: 1.2em;
     padding: 0 10px;
   }
   .grid {
     margin-top: -10px;
     width: 105%;
   }
   .masonry-item {
     width: 380px;
     margin: 10px 20px 10px 0;
     padding: 20px;
     background: #fbfbfb;
     border: 1px solid #ededed;
   }
   .masonry-item:hover {
     border: 1px solid #ffcfca;
   }
   .item:hover .title {
     opacity: 1;
   }
   .title {
     display: table-cell;
     vertical-align: middle;
     opacity: 0;
     transition: opacity 0.5s;
     -webkit-transition: opacity 0.5s;
   }
   .expand {
     transition: width 0.5s, height 0.5s, left 0.5s, top 0.5s;
     -webkit-transition: width 0.5s, height 0.5s, left 0.5s, top 0.5s;
     height: 100%;
     width: 100%;
     left: 0 !important;
     top: 0 !important;
     z-index: 99;
     text-indent: -9999px;
   }
   .more {
     font-size: 14px;
     border-top: 1px solid #ededed;
     border-bottom: 1px solid #ededed;
     padding: 8px 0;
     display: block;
     margin-top: 10px;
   }
   .more span {
     font-size: 10px;
   }
   .title-icon {
     border-top: 1px solid #ededed;
     width: 100%;
     height: 30px;
     position: relative;
     text-align: left;
     color: #ion-android-image;
     margin-top: 15px;
     float: left;
   }
   .title-icon span {
     position: absolute;
     top: -16px;
     background: #ed1c24;
     color: #fff;
     width: 36px;
     height: 32px;
     font-size: 24px;
     z-index: 100;
     text-align: center;
     line-height: 32px;
     margin-left: 10px;
   }
   .blog-item {
     margin-bottom: 15px;
   }
   .blog-item:hover img {
     opacity: 0.8;
   }
   .read-more, .read-more:focus {
     width: 100%;
     display: block;
     text-align: center;
     background: #3d566e;
     color: #fff;
     font-weight: bold;
     text-transform: uppercase;
     font-size: 13px;
     height: 40px;
     line-height: 40px;
     margin-bottom: 10px;
   }
   .read-more:hover {
     color: #fff;
     background: #ed1c24;
     margin-bottom: 10px;
   }
   .read-more span {
     display: inline-block;
   }
   /*9-6 AUTHOR*/
   .author-box {
     margin-bottom: 30px;
   }
   .related {
     margin-bottom: 10px;
   }
   .related .item {
     margin-right: 10px;
   }
   /*9-7 COMMENTS*/
   .media {
     border-bottom: 1px solid #ededed;
     padding: 10px;
   }
   .media-body .time {
     padding-left: 10px;
     font-size: 12px;
   }
   .media-body h4 {
     display: inline-block;
   }
   .nested-rep {
     background: #ededed;
     border: 1px solid #e6e6e6;
     padding: 20px;
   }
   .nested-rep .media-heading {
     color: #ed1c24;
   }
   .reply {
     color: #3d566e;
     font-size: 20px;
   }
   .reply:hover {
     color: #ed1c24;
   }
   .opinion {
     margin-bottom: 20px;
   }
   .comment-form {
     margin-top: 10px;
   }
   .form-control {
     /*border: 1px solid #ededed;*/
     min-height: 40px;
     box-shadow: none;
     color: #3d566e;
   }
   .form-control:focus {
     border-color: #ffc5bf;
     box-shadow: none;
   }
   /*9-8 FAQs*/
   .panel {
     box-shadow: none;
   }
   .panel-title {
     color: #3d566e;
   }
   .panel-default, .panel-heading {
     border-color: #ededed
   }
   .panel-default > .panel-heading {
     background: #ededed;
   }
   .panel-body {
     border-color: #ededed;
   }
   /*9-9 contact*/
   #map_canvas {
     display: block;
     width: 100%;
     height: 400px;
     margin-bottom: 20px;
   }
   .adress {
     border-left: 1px solid #ededed;
     padding-left: 20px;
     margin-left: 20px;
   }
   .adress strong {
     color: #ed1c24;
   }
   .btn-danger {
     background: #ed1c24;
     border: 1px solid #ed1c24;
   }
   .btn-danger:hover {
     background: #da4839;
     border: 1px solid #da4839;
   }
   /*9-10 home-2*/
   .gallery div {
     margin-bottom: 5px;
   }
   .blogging-style .business {
     padding-bottom: 0;
   }
   .blogging-style .top-margin {
     margin-top: 10px;
   }
   .thumb-box {
     position: relative;
     width: 100%;
     height: 100%;
   }
   a .thumb-box span {
     width: 36px;
     height: 36px;
     background-color: #ed1c24;
     font-size: 24px;
     color: #fff;
     text-align: center;
     line-height: 36px;
     position: absolute;
     z-index: 100;
     top: 40%;
     left: 50%;
     margin-right: -50%;
     transform: translate(-50%, -50%);
     opacity: 0;
     -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
     -o-transition: all 0.3s;
     transition: all 0.3s;
   }
   a:hover .thumb-box span {
     width: 36px;
     height: 36px;
     background-color: #ed1c24;
     font-size: 24px;
     color: #fff;
     text-align: center;
     line-height: 36px;
     position: absolute;
     opacity: 1;
     z-index: 100;
     top: 50%;
     left: 50%;
     margin-right: -50%;
     transform: translate(-50%, -50%)
   }
/*------------------------------------*\
    10-MID COLUMN
    \*------------------------------------*/

    .mid-sec {
     min-height: 800px;
     border: 1px solid #ededed;
     background: #fbfbfb;
     padding-top: 5px;
   }
   .mid-sec .main-title {
     font-size: 14px;
   }
   .mid-sec .vid-thumb-outer {
     margin-bottom: 15px;
   }
   .mid-sec .list-unstyled li {
     padding-bottom: 0;
     float: left;
     width: 100%;
   }
   .rate {
     background-color: #3d566e;
     color: #fff;
     display: block;
     float: left;
     font-size: 14px;
     font-weight: bold;
     height: 40px;
     line-height: 40px;
     width: 40px;
     margin-right: 8px;
     text-align: center;
     vertical-align: baseline;
     white-space: nowrap;
   }
   .list-group {
     margin-bottom: 15px;
   }
   .list-group-item {
     border: 1px solid #ededed;
   }
   .list-group-item a {
     display: block;
   }
   .list-group-item a:hover .badge {
     background: #ed1c24;
   }
   .list-group-item .badge {
     float: right;
   }
/*------------------------------------*\
    11-RIGHT COLUMN
    \*------------------------------------*/
    /*11-1 ADVERTISEMENT AREA (336PX*280PX)*/
    .sponsored, .sponsored:focus {
     display: block;
     text-align: center;
     color: #fff;
     text-transform: uppercase;
     background: #3d566e;
     margin: 5px 0 0 0;
     padding: 3px 0;
     font-size: 12px;
     white-space: nowrap;
   }
   .sponsord-v {
     display: block;
     text-align: center;
     color: #fff;
     text-transform: uppercase;
     background: #3d566e;
     padding: 3px 0;
     font-size: 12px;
     height: 125px;
   }
   /*11-2 SOCIAL COUNTERS*/
   .table {
     margin-bottom: 5px;
   }
   .table-bordered {
     border: 1px solid #ededed;
   }
   table-bordered th, .table-bordered td {
     border: 1px solid #ededed !important;
   }
   .social {
   }
   .social a p {
     color: #3d566e;
   }
   .social a:hover p {
     color: #fff;
   }
   .social tr {
     border: none !important;
   }
   .social td {
     padding: 0 !important;
   }
   .social a {
     color: #3d566e;
     font-size: 12px;
     text-transform: uppercase;
     text-align: center;
     display: block;
     padding: 5px;
   }
   .social p {
     margin: 0;
   }
   .social p span {
     font-size: 30px;
     text-align: center;
     display: block;
   }
   .rss:hover {
     background: #ed802e;
   }
   .twitter:hover {
     background: #45b0e3;
   }
   .facebook:hover {
     background: #3a5898;
   }
   .youtube:hover {
     background: #ce342c;
   }
   .vimeo:hover {
     background: #42b1df;
   }
   .dribbble:hover {
     background: #ea4c89;
   }
   .googleplus:hover {
     background: #34352f;
   }
   .pinterest:hover {
     background: #c82128;
   }
   .instagram:hover {
     background: #517ea5;
   }
   .bottom-border {
     border-bottom: 1px solid #ededed;
   }
   .right-border {
     border-right: 1px solid #ededed;
   }
   .table-responsive {
     text-align: center;
   }
   .bt-space {
     margin-bottom: 10px;
   }
   .tab-content {
     padding: 10px 0 0 0;
   }
   /*11-3 TABS*/
   .nav-tabs {
     border-bottom: 1px solid #ededed
   }
   .nav-tabs li a {
     background-color: #3d566e;
     color: #fff;
     font-weight: bold;
     text-transform: uppercase;
     border: none;
     padding-right: 5px;
     padding-left: 5px;
   }
   .nav-tabs li a:hover {
     background-color: #78899b;
   }
   .nav-tabs li.active a, .nav-tabs li.active a:hover, .nav-tabs li.active a:focus {
     background-color: #ed1c24;
     color: #fff;
     border: none;
   }
   .nav-tabs.nav-justified li {
     border-right: 1px solid #fff;
   }
   .nav-tabs.nav-justified li a {
     border-bottom: none;
   }
   .nav-tabs.nav-justified li.active a, .nav-tabs.nav-justified li.active a:hover, .nav-tabs.nav-justified li.active a:focus {
     background: #e40505!important;
     border: none;
   }
   #comments p {
     font-size: 13px;
   }
   /*11-4 CALENDAR*/
   .pickmeup {
     background: #fff;
     -moz-box-sizing: content-box;
     box-sizing: content-box;
     display: none;
     border: 1px solid #ededed;
     width: 99.5%;
     padding-bottom: 15px;
   }
   .pickmeup * {
     -moz-box-sizing: border-box;
     box-sizing: border-box;
     width: 100%;
   }
   .pickmeup .pmu-instance {
     display: inline-block;
     height: 13.8em;
     padding: 5px;
     text-align: left;/*width: 15em;*/
   }
   .pickmeup .pmu-instance .pmu-button {
     color: #3d566e;
     cursor: pointer;
     outline: none;
     text-decoration: none;
   }
   .pickmeup .pmu-instance .pmu-today, .pickmeup .pmu-instance .pmu-today:hover {
     background: #3d566e;
     color: #fff !important;
   }
   .pickmeup .pmu-instance .pmu-button:hover {
     color: #ed1c24;
   }
   .pickmeup .pmu-instance .pmu-not-in-month {
     color: #8d9aa5;
   }
   .pickmeup .pmu-instance .pmu-disabled, .pickmeup .pmu-instance .pmu-disabled:hover {
     color: #333333;
     cursor: default;
   }
   .pickmeup .pmu-instance .pmu-selected {
     background: #ed1c24;
     color: #fff;
   }
   .pickmeup .pmu-instance .pmu-selected:hover {
     color: #fff;
   }
   .pickmeup .pmu-instance .pmu-not-in-month.pmu-selected {
     background: #ed1c24;
   }
   .pickmeup .pmu-instance nav {
     color: #ed1c24;
     display: -ms-flexbox;
     display: -webkit-flex;
     display: table;
     line-height: 2em;
     text-align: center;
   }
   .pickmeup .pmu-instance nav *:first-child :hover {
     color: #88c5eb;
     text-align: center;
   }
   .pickmeup .pmu-instance nav .pmu-prev, .pickmeup .pmu-instance nav .pmu-next {
     display: none;
     height: 2em;
     width: 1em;
   }
   .pickmeup .pmu-instance nav .pmu-month {
     text-align: center;
   }
   .pickmeup .pmu-instance .pmu-years *, .pickmeup .pmu-instance .pmu-months * {
     display: inline-block;
     line-height: 3.6em;
     width: 3.5em;
     text-align: center;
   }
   .pickmeup .pmu-instance .pmu-day-of-week {
     color: #3d566e;
     text-transform: uppercase;
     cursor: default;
     border-top: 1px solid #ededed;
     border-bottom: 1px solid #ededed;
     padding: 5px 0;
     margin: 10px 0;
   }
   .pickmeup .pmu-instance .pmu-day-of-week *, .pickmeup .pmu-instance .pmu-days * {
     display: inline-block;
     line-height: 30px;
     width: 46px;
     height: 32px;
     text-align: center;
   }
   .pickmeup .pmu-instance .pmu-day-of-week * {
     line-height: 1.8em;
     font-weight: 600;
   }
   .pickmeup .pmu-instance:first-child .pmu-prev, .pickmeup .pmu-instance:last-child .pmu-next {
     display: table-cell;
     color: #ed1c24;
   }
   .pickmeup .pmu-instance:first-child .pmu-month, .pickmeup .pmu-instance:last-child .pmu-month {
     width: 13em;
     color: #ed1c24;
   }
   .pickmeup .pmu-instance:first-child:last-child .pmu-month {
     width: 12em;
     font-weight: bold;
     text-transform: uppercase;
     display: table-cell;
   }
   .pickmeup:not(.pmu-view-days) .pmu-days, .pickmeup:not(.pmu-view-days) .pmu-day-of-week, .pickmeup:not(.pmu-view-months) .pmu-months, .pickmeup:not(.pmu-view-years) .pmu-years {
     display: none;
   }
   .boxer{
     margin-left: 50px;
     margin-right: 50px;
   }
   .boxer-footer{
     margin-left: 50px;
     margin-right: 50px;
   }
/*------------------------------------*\
    12-FOOTER
    \*------------------------------------*/

    footer {
     /*border-top: 3px solid #ed1c24;*/
     /*margin: 20px 0 10px 0;*/
     /*background-color: #3d566e;*/
   }
   footer .top-sec {
     background-color: #e8e8e8;
     padding-top: 10px;
     padding-bottom: 0px;
   }
   footer .btm-sec {
     background-color: #b41c1d;
   }
   footer .f-title {
     color: #474747;
     font-size: 18px;
     font-weight: bold;
     text-transform: uppercase;
     padding: 10px 0;
     margin-bottom: 5px;
   }
   footer p {
     color: #474747;
   }
   footer .stars {
     color: #b0b7bf;
   }
   .f-sub-info {
     color: #b0b7bf;
   }
   .subscribe-info {
     /*border-right: 1px solid #486581;*/
     padding-right: 20px;
     /*min-height: 260px;*/
   }
   .subscribe-info form {
     position: relative;
   }
   .subscribe-info .form-control {
     width: 100%;
     padding-right: 35px;
   }
   .subscribe-info .btn {
     border: none;
     background: none;
     position: absolute;
     right: 0;
     top: -5px;
   }
   .subscribe-info .btn span {
     font-size: 24px;
   }
   .popular-tags {
     padding-right: 20px;
	/*padding-left: 20px;
	border-right: 1px solid #486581;*/
	/*height: 260px;*/
	overflow: hidden;
}
.tags {
	list-style: none;
}
.tags li {
	/*border-left: solid 2px #3d566e;*/
	position: relative;
	z-index: 1;
	background-color: #e5e6e6;
	float: left;
	margin: 2px 2px;
	text-align: center;
	border-bottom: none;
	padding-bottom: 0;
}
.tags.list-unstyled li:last-child {
}
.tags li:before {
	content: "";
	display: block;
	position: absolute;
	left: -6px;
	/*border-left: solid 4px #486581;*/
	width: auto;
	margin-top: 0;
	min-height: 100%;
	z-index: 10;
}
.tags li:hover {
	background: #ed1c24
}
.tags li a {
	color: #423f3f;
	text-transform: capitalize;
	display: block;
	padding: 8px 10px;
}
.tags li a:hover {
	background: #ed1c24;
  color: #fff;
  font-weight: 600;
}
.tags li:hover:before {
	border-color: #ed1c24;
}
.recent-posts {
	padding-left: 20px;
}
.recent-posts .img-thumbnail {
	background: #4b6986;
	border: 1px solid #4f7396;
}
.recent-posts li a:hover .img-thumbnail {
	border: 1px solid #4f7396;
}
.recent-posts .list-unstyled li {
	border-bottom: none;
	margin-bottom: 5px;
	padding-bottom: 0;
}
.recent-posts .list-unstyled li h4 {
	color: #fff;
}
.btm-sec {
	padding-top: 10px;
  /*padding-bottom: 10px;*/
  color: #fff;
  font-weight: 600;
}
.btm-sec .list-inline li a {
	padding-right: 4px;
	padding-left: 4px;
	text-transform: uppercase;
	font-size: 12px;
	color: #fff;
	font-weight: 600;
}
.btm-sec .list-inline li a:hover {
	color: #474747;
  font-weight: 600;
}
.copyrights {
	font-size: 12px;
}
.f-social {
	text-align: center;
	padding-top: 10px;
}
.f-social a {
	margin: 0 5px;
	border: 1px solid #3d566e;
	width: 36px;
	height: 36px;
	text-align: center;
	line-height: 36px;
	display: inline-block;
}
.f-social ul li {
	padding: 0;
}
.f-social ul li a span {
	font-size: 16px;
	line-height: 36px;
	width: 36px;
	height: 36px;
}
.f-social ul li a:hover {
	color: #ed1c24;
	border-color: #ed1c24;
}
/*------------------------------------*\
    13-404 PAGE
    \*------------------------------------*/
    .wrong-icon {
     font-size: 200px;
     color: #3d566e;
     border-top: 1px solid #ededed;
   }
   .wrong-page {
     margin-top: 50px;
     margin-bottom: 50px;
   }
   .bar-tag{
    z-index: 3;
    position: absolute;
    top: 221px;
  }
  .ads-home{
    z-index: 5;position: inherit;
  }
  .ads-homex{
    z-index: 5;position: inherit;margin-left: -70px;
  }
  .menu-x{
    color: #c40000;
    font-size: 14px;
    font-weight: bold;
  }  
  .menu-xz{
    color: #c40000;
    font-size: 18px;
    font-weight: bold;
  }  
  .menu-xz:hover{
    color: #e74c3c;
    font-size: 18px;
    font-weight: bold;
  }  
/*------------------------------------*\
    14-MEDIA QUERIES
    \*------------------------------------*/

    @media (max-width:348px) {

     .affix-header {
      position: fixed;
    }
    .dxd {
     display: none;
   }
   .mobile-show{
    display: block;
  }
  .grid .sub-info-bordered {
   height: 50px;
 }
 .grid .sub-info-bordered .stars {
   float: left;
 }
 .sec-topic .sub-info-bordered {
   height: 50px;
 }
 .sec-topic .sub-info-bordered .stars {
   float: left;
 }
 .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12, .col-xs-13, .col-sm-13, .col-md-13, .col-lg-13, .col-xs-14, .col-sm-14, .col-md-14, .col-lg-14, .col-xs-15, .col-sm-15, .col-md-15, .col-lg-15, .col-xs-16, .col-sm-16, .col-md-16, .col-lg-16 {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
}

}

@media (max-width:767px) {
 .affix-header {
  position: fixed;
}
.dxd {
 display: none;
}
.mobile-show{
  display: block;
}
h4, .h4, h5, .h5, h6, .h6 {
 margin-top: 5px;
 margin-bottom: 5px;
 margin-right: 0px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12, .col-xs-13, .col-sm-13, .col-md-13, .col-lg-13, .col-xs-14, .col-sm-14, .col-md-14, .col-lg-14, .col-xs-15, .col-sm-15, .col-md-15, .col-lg-15, .col-xs-16, .col-sm-16, .col-md-16, .col-lg-16 {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.captionx {
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 20px;
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px; 
  padding-right: 0px; 
}
.navbar-brand {
  margin-left: 15px;
}

.modal-dialog {
  /* position: relative; */
  width: 400px;
  margin: 10px;
  display: block;
  margin: 70px auto;
}
.frame-x {
  margin-top: 0px;
}

.bar-tag{
  z-index: 3;
  position: absolute;
  margin-top: -18px;
}  
.box-menu-profile {
  background-color: white;
  height: 100%;
  padding-bottom: 20px;
  border: 2px #eceaea solid;
  margin-bottom: 15px;
}
.text-danger-list {
  color: #888585;
  font-weight: 400;
  margin-top: 0px; 
}

.hidden-x{
  display: none;
}
.center-x{
  text-align: center;
}
.text-right{
  text-align: center;
}
.ads-homex{
  z-index: 5;position: inherit;margin-left: 0px;
}

.subscribe-sidebar{
 background-color: #eceaea;
 height: 435px;
 border: 2px #eceaea solid;
 margin-top: 20px;
}
.boxer{
 margin-left: 0px;
 margin-right:0px;
}
.boxer-footer{
 margin-left: 0px;
 margin-right:0px;
 text-align: center;
}
.box-menu{
 display: none;
}
.navbar-header {
 float: none;
 border-bottom: 1px solid #ed1c24;
}
.navbar-toggle {
 display: block;
}
.navbar-collapse {
 border-top: 1px solid transparent;
}
.navbar-collapse.collapse {
 display: none!important;
}
.navbar-nav {
 float: none!important;
 margin: 7.5px -15px;
}
.navbar-nav>li>a {
 padding-top: 10px;
 padding-bottom: 10px;
}
.navbar-collapse.collapse.in {
 display: block!important;
 background-color: white;
 padding-left: 15px;
}
.collapsing {
 overflow: hidden!important;
}
.navbar-inverse .dropdown-menu {
 background: none;
 border: none;
}
.nav li {
 border-bottom: 1px solid #eae1e1;
}
.nav-x li {
  border-bottom: 1px solid #fff;
  float: left;
}

.dropdown-menu li {
 border-bottom: none;
}
.mega-menu {
 min-width: inherit;
 padding: 0;
}
.mega-menu a {
 padding-top: 5px !important;
 padding-bottom: 5px !important;
}
.nav-icn {
 float: right;
 margin-right: 10px;
}
.mega-sub {
 padding-bottom: 5px;
 min-height: inherit;
}
.open {
 background: #ed1c24;
}
.open li {
 border-bottom: 1px solid #da4839;
}
.open li a {
 padding-top: 10px !important;
 padding-bottom: 10px !important;
 margin-left: 10px;
}
.open li:last-child {
 border-bottom: none;
}
.open .dropdown-toggle {
 background: #e2e2e2 !important;
}
#scrollUp {
 bottom: 10px;
}
.main-title {
 font-size: 22px;
 margin-left: -4px;
}
.last-update {
  font-size: 16px;
  line-height: 36px;
}
.list-unstyled li {
  border-bottom: 0px solid #ededed; 
  padding-bottom: 20px;
}
.list-group-item-heading {
  font-size: 15px;
  padding-top: 10px;
  font-weight: 600;
}
#time-date {
	text-align: left;
}
#weather {
	text-align: left;
	padding-top: 10px;
	padding-bottom: 10px;
}
.owl-prev, .owl-next {
	display: none;
}
.info {
	line-height: 54px;
}
.banner-outer .carousel-caption {
	font-size: 18px;
	line-height: 18px;
	padding-bottom: 20px;
}
.science {
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #ededed;
}
.pickmeup .pmu-instance .pmu-day-of-week *, .pickmeup .pmu-instance .pmu-days * {
	width: 27px;
}
.subscribe-info {
	min-height: inherit;
}
.popular-tags {
	height: auto;
	overflow: visible;
}
.subscribe-info {
	border-right: none;
	padding-right: 5px;
}
.popular-tags {
	padding-right: 5px;
	padding-left: 5px;
	border-right: none;
}
.recent-posts {
	padding-left: 5px;
}
.f-social .list-inline li {
	float: left;
}
.f-nav .list-inline li {
	padding-left: 0;
	margin-bottom: 5px;
}
.copyrights {
	text-align: left;
	margin-bottom: 5px;
}
.mid-sec .list-unstyled li {
	width: 100%;
	padding-bottom: 10px;
	float: left;
}
}

@media (min-width:768px) and (max-width:991px) {

 .affix-header {
  position: fixed;
}
.dxd {
 display: none;
}
.mobile-show{
  display: block;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12, .col-xs-13, .col-sm-13, .col-md-13, .col-lg-13, .col-xs-14, .col-sm-14, .col-md-14, .col-lg-14, .col-xs-15, .col-sm-15, .col-md-15, .col-lg-15, .col-xs-16, .col-sm-16, .col-md-16, .col-lg-16 {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
}
.box-menu-profile {
  background-color: white;
  height: 100%;
  padding-bottom: 15px;
  border: 2px #eceaea solid;
}
.text-danger-list {
  color: #888585;
  font-weight: 400;
  margin-top: 0px; 
}  
.bar-tag {
  z-index: 3;
  position: absolute;
  margin-top: -15px;
}
.ads-homex{
  z-index: 5;position: inherit;
  margin-left: 0px;
}

.frame-x {
  margin-top: 0px;
}
.box-menu{
  display: none;
}
.hidden-x{
  display: none;
}
.center-x{
  text-align: center;
}
.text-right{
  text-align: center;
}
.boxer{
  margin-left: 0px;
  margin-right:0px;
}
.boxer-footer{
  margin-left: 0px;
  margin-right:0px;
  text-align: left;
}

.navbar-header {
 float: none;
 border-bottom: 2px solid #ed1c24;
}
.navbar-toggle {
 display: block;
}
.navbar-collapse {
 border-top: 1px solid transparent;
}
.navbar-collapse.collapse {
 display: none!important;
}
.navbar-nav {
 float: none!important;
 margin: 7.5px -15px;
}
.navbar-nav>li>a {
 padding-top: 10px;
 padding-bottom: 10px;
}
.navbar-collapse.collapse.in {
 display: block!important;
 background-color: white;
 padding-left: 15px;
}
.collapsing {
 overflow: hidden!important;
}
.navbar-inverse .dropdown-menu {
 background: none;
 border: none;
}
.nav li {
 border-bottom: 1px solid #eae1e1;
}
.nav-x li {
  border-bottom: 1px solid #fff;
  float: left;
}

.dropdown-menu li {
 border-bottom: none;
}
.mega-menu {
 min-width: inherit;
 padding: 0;
}
.mega-menu a {
 padding-top: 5px !important;
 padding-bottom: 5px !important;
}
.nav-icn {
 float: right;
 margin-right: 10px;
}
.mega-sub {
 padding-bottom: 5px;
 min-height: inherit;
}
.open {
 background: #ed1c24;
}
.open li {
 border-bottom: 1px solid #da4839;
}
.open li a {
 padding-top: 10px !important;
 padding-bottom: 10px !important;
 margin-left: 10px;
}
.open li:last-child {
 border-bottom: none;
}
.open .dropdown-toggle {
 background: #e2e2e2 !important;
}
#scrollUp {
 bottom: 10px;
}
.main-title {
 font-size: 22px;
 margin-left: -4px;
}
.last-update {
  font-size: 16px;
  line-height: 36px;
}
.list-unstyled li {
  border-bottom: 0px solid #ededed; 
  padding-bottom: 0px;
}
.list-group-item-heading {
  font-size: 15px;
  padding-top: 0px;
  font-weight: 600;
}
#time-date {
  text-align: left;
}
#weather {
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
}
.owl-prev, .owl-next {
  display: none;
}
.info {
  line-height: 54px;
}
.banner-outer .carousel-caption {
  font-size: 18px;
  line-height: 18px;
  padding-bottom: 20px;
}
.science {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ededed;
}
.pickmeup .pmu-instance .pmu-day-of-week *, .pickmeup .pmu-instance .pmu-days * {
  width: 27px;
}
.subscribe-info {
  min-height: inherit;
}
.popular-tags {
  height: auto;
  overflow: visible;
}
.subscribe-info {
  border-right: none;
  padding-right: 5px;
}
.popular-tags {
  padding-right: 5px;
  padding-left: 5px;
  border-right: none;
}
.recent-posts {
  padding-left: 5px;
}
.f-social .list-inline li {
  float: left;
}
.f-nav .list-inline li {
  padding-left: 0;
  margin-bottom: 5px;
}
.copyrights {
  text-align: left;
  margin-bottom: 5px;
}

.navbar-nav>li>a {
 padding: 15px 10px;
 font-size: 12px;
}
.mega-menu {
 min-width: 280px;
}
.mega-sub {
 border-right: none;
}
.last-update {
 font-size: 11px;
}
.pickmeup .pmu-instance .pmu-day-of-week *, .pickmeup .pmu-instance .pmu-days * {
 width: 27px;
}
.popular-tags {
 height: auto;
 overflow: visible;
}

}

@media (min-width: 850px) {
  .search-container input {
   font-size: 1em;
 }
}

@media (max-width:991px) {
  .navbar-inverse .navbar-nav li:first-child a {
   padding-left: 15px;
 }
 .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
   border: none;
 }
 .navbar-inverse .navbar-nav li a, .navbar-inverse .navbar-nav li a:hover, .navbar-inverse .navbar-nav li a:focus {
   border-right: none !important;
 }
 .owl-item img {
   display: block;
   max-width: 100%;
   height: auto;
 }
 .social a {
   font-size: 9px;
 }
 .nav-justified li a {
   font-size: 10px;
 }
 .breadcrumb {
   float: left;
   width: 100%;
   padding-top: 20px;
   padding-left: 0;
 }
}

@media (max-width:1080px) {
  .grid {
   width: 100% !important;
   margin-top: 10px;
 }
 .masonry-item {
   width: 100%;
   margin: 0;
   padding: 0 0 20px 0;
   background: #fff;
   border: none;
 }
 .masonry-item:hover {
   border: none;
 }
}

@media (max-width: 1170px) {
  .pickmeup .pmu-instance .pmu-day-of-week *, .pickmeup .pmu-instance .pmu-days * {
   width: 37px;
 }
 .popular-tags {
	/*padding-right: 20px;
	padding-left: 20px;
	border-right: 1px solid #486581;
	border-left: 1px solid #486581;*/
	overflow: visible;
	height: auto;
}
.right-img-top {
	height: 220px;
}
.right-img-top .box {
	height: 220px;
}
.right-img-btm {
	height: 218px;
}
.right-img-btm .box {
	height: 218px;
}
}
