.social-icons{ margin: 0; padding: 0; list-style: none;}
.social-icons li{ float: left; margin: 0 0 0 15px;}
.social-icons li:first-child{ margin: 0;}
.social-icons li a{ height: 40px; width: 40px; line-height: 40px; background: #3e3e3e; border-radius: 4px;
color: #fff; text-align: center; display: block; font-size: 16px;}
.social-icons li a:hover{ color: #fff;}

.rating-stars ul li{ float: left; margin: 0 0 0 7px;}
.rating-stars ul li:first-child{ margin: 0}
.rating-stars ul li i{ color: #f0bf2d;}
 
.cr-display-table{ width: 100%; height: 100%; display: table;}
.cr-display-table-cell{ display: table-cell; vertical-align: middle; width: 100%; height: 100%;}


.hover-overlay{ position: absolute; top: 50%; left: 50%; width: 0; height: 0; text-align: center; visibility: hidden; opacity: 0;}
ul{ margin: 0; padding: 0; list-style: none;}
ul:after{display: block;content: '';clear: both;}

.light-shadow{
-webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.18);
-moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.18);
box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.18);}


/* Top bar */
.top-bar{ background: #2c2d30;}
.top-left li,
.top-right li{display: inline-block; text-transform: capitalize;}
.top-left li,
.top-right li a{color: #fff; position: relative;}
.top-right li a span{position: absolute; width: 15px; height: 15px; border-radius: 50%; display: inline-block;
top: 10px; right: -3px; color: #fff; font-size: 9px; text-align: center; line-height: 15px;}
.top-right > li > a > i{ font-size: 16px; margin-right: 5px; font-weight: normal; font-size: 14px;}
.top-right > li:last-child > i{margin: 0;}
.top-right > li:last-child > a{ padding-right: 0;}
.top-left li{padding:10px;}
.top-left li i{ font-size: 14px; margin: 0 	10px 0 0; font-size: 14px;}
.top-left li:first-child{ padding-left: 0;}
.top-right li a { padding: 9px; }

/* Navigation */
.nav-holder:after{content: ''; display: block; clear: both;}
.logo-holder{float: left; padding: 20px 0;}
.cr-navigation{float: right;position: relative;}
.cr-navigation:after{content: ''; display: block; clear: both;}
.cr-add-nav,
.cr-add-nav li{display: inline-block;}
.cr-add-nav li a{padding: 25px 15px; color: #333;}
.cr-add-nav li:last-child a{ padding-right:0;}
.cr-nav{float: left;position: relative;}
.cr-nav > ul > li{display: inline-block;}
.cr-nav > ul > li > a{ padding: 28px 15px; text-transform: capitalize; color: #333; position: relative; font-size: 16px; }

/*dropdown*/
.cr-nav > ul > li > ul{ list-style: none; margin: 0; padding: 0; top: 80%; border-radius: 0; position: absolute; width: 200px; 
visibility: hidden; opacity: 0; background: #fff; z-index: 10;
-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.19);
-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.19);
box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.19);}
.cr-nav > ul > li > ul li{ position: relative; float: none; border-bottom: 1px solid #e1e1e1;}
.cr-nav > ul > li > ul li:last-child{ border: 0;}
.cr-nav > ul > li > ul li a{ width: 100%; position: relative; color: #333; padding: 10px 15px; text-transform: capitalize; border-left: 4px solid;} 
.cr-nav > ul > li > ul li a:hover{ padding-left: 20px;border-left: 15px solid;}
.cr-nav > ul > li > ul li a:hover i{ color: #fff;}
.cr-nav > ul > li > ul li.active a{ border-left: 15px solid;}
.cr-nav > ul > li > ul li a i{ color: #666; position: absolute; right: 10px; top: 50%; margin: -7px 0 0;}
.cr-nav > ul > li:hover > ul{ visibility: visible; opacity: 1; top: 100%;z-index: 1000;}

/*cart*/


/* Slider Menu */
.wrap{ position: relative;}
.res-menu{ }
.res-menu a{ color: #fff;}
.sub-list{padding: 0 0 0 30px;}

/* Banner Slider */
.banner-slider{ position: relative;}
.banner-slider .ninja-slider{width: 100%;}
.ninja-slider .caption-holder:after{content: '';position: absolute;top: 0;right: 0;bottom: 0;left: 0;
background: -moz-linear-gradient(top, rgba(41,137,216,0) 0%, rgba(0,0,0,1) 100%);
background: -webkit-linear-gradient(top, rgba(41,137,216,0) 0%,rgba(0,0,0,1) 100%);
background: linear-gradient(to bottom, rgba(41,137,216,0) 0%,rgba(0,0,0,1) 100%);}

/*caption*/
.caption-holder{ position: absolute; top: 0; left: 0; height: 100%; width: 100%;}
.caption-holder .container.p-relative { left: 0; max-width: 1270px; top: 0; height: 100%; }
.caption{ position: absolute; left: 15px; bottom: 30px; z-index: 10; width: 640px;}
.caption h2{ font-size: 38px; color: #fff; line-height: 1.3; margin: 0; text-transform: initial;}
.caption h2 a { color: #fff; }
.caption p{ font-size: 16px; color: #fff; } 
.p-relative{ position: relative;}
.caption-holder .post-meta{ margin: 0 0 10px;}
.caption-holder .post-meta span{display: inline-block; margin-right: 10px; text-transform: capitalize; font-size: 12px; color: #fff;}
.caption-holder .post-meta span:last-child{ margin: 0;}
.caption-holder .post-meta span i{margin-right: 5px; font-size: 12px;}

.caption > span { display: inline-block; font-size: 14px; padding: 7px 10px 5px 10px; color: #fff; line-height: 1; margin: 0 0 15px; text-transform:capitalize;}
/*thumbnail slider*/
.banner-thumbnail{ position: absolute; top: 0; height: 100%; width: 100%;}
#thumbnail-slider div.inner > ul{float: none!important; transform: translateX(0px) !important;}
#thumbnail-slider div.inner > ul > li{ width: 100%!important; border-left: 5px solid transparent; cursor: pointer;
border-bottom: 1px solid rgba(0,0,0,.1)!important;}
#thumbnail-slider div.inner{padding: 0; background: #fff;}
#thumbnail-slider div.inner > ul > li.active{ border-left: 5px solid;}
.post-content { overflow: hidden; }
.banner-thumbnail .post-wrap-list > li { margin: 0; }
.banner-thumbnail .post-wrap-list .post-wrap { padding: 10px 15px; }
.post-wrap:after{display: block; clear: both; content: '';}
.post-wrap .post-thumb{float: left; margin: 0 20px 0 0; display: table;}
.post-wrap.small-post h4{font-size: 14px; margin: 0 0 10px;}

.post-wrap-list > li{ margin: 0 0 15px;}
.post-wrap-list > li:last-child{ margin: 0;}
.post-wrap-list .post-content h4 { margin: 0; font-size: 14px; line-height:1.5;}
.post-wrap-list .post-meta { margin: 0; }



/* News Section */
.search-query{
	border: 0;
    outline: 0;
    font-size: 20px;
    background: transparent;
    border-bottom: 1px solid #c3c3c3;
    /* width: 20px; */
    border-radius: initial;
}

/

/* Social Followers */
.aside-social li{float: left; text-align: center; width: 33.333333%;}
.aside-social li a{display: block; color: #fff; padding: 15px 0;}
.aside-social span{display: block; text-transform: capitalize; font-size: 13px;}
.aside-social li em{font-style: normal;}
.aside-social li i{font-size: 20px; margin: 0 0 5px;}
li.fb a{background: #3b5998;}
li.tw a{background: #55acee;}
li.pi a{background: #cb2027;}
li.li a{background: #007bb5;}
li.sky a{background: #12a5f4;}
li.yt a{background: #cc181e;}
li.gmail a{background: #d13535;}
.aside-social li a:hover {opacity: 0.8;}

/* Aside News */
.horizontal-tab-content .tab-pane > ul > li{padding: 0 15px; }
.horizontal-tab-content .tab-pane > ul > li:last-child{margin: 0;}
.horizontal-tab-content { padding-bottom: 15px; }

/* Aside slider post */
.side-bar .post-detail h4{font-weight: 600; font-size: 16px; margin-bottom: 10px;}
.side-bar .post-detail .post-meta{margin-bottom: 10px; font-size: 13px;}
.side-bar .post-detail .post-content p,
.side-bar .slider-widget .post-content p{ margin: 0;}
.side-bar .slider-widget .post-content { padding: 15px; }

/* Horizontal Tabs Widget */
.horizontal-tabs-widget.post-tabs .theme-tab-navs li{width: 50%;}
.horizontal-tabs-widget .theme-tab-navs li{display: inline-block; width: 33.333%; margin-right: -3px;}
.horizontal-tabs-widget .theme-tab-navs li a{display: block; padding: 10px; text-align: center;
background: #fbfbfb; color: #2c2d30; font-weight: 500; text-transform: capitalize; }
.horizontal-tabs-widget .theme-tab-navs li.active a{color: #fff;}
.horizontal-tabs-widget .theme-tab-navs{margin: 0 0 15px;}

/*post categories*/
.cate-tab-navs { background: #2c2d30; }
.cate-tab-navs ul li{ text-align: center; border-right: 1px solid rgba(0,0,0,0.2); text-transform: capitalize;}
.cate-tab-navs ul li:last-child{border: 0;}
.cate-tab-navs ul li a{ display: block; padding: 15px 0; cursor: pointer; color: #fff; border-top: 5px solid transparent;}
.cate-tab-navs ul li.active a { background: #fff; }

.categories-widget li{border-bottom: 1px solid #f3f3f3;}
.categories-widget li a{display: block; text-transform: capitalize; border-left: 3px solid transparent; padding-left: 15px;}
.categories-widget li a:after { content: '';display: block; clear: both }
.categories-widget li span{float: right; padding: 10px 15px; display: inline-block; color: #fff;}
.categories-widget li em{font-style: normal; line-height: 44px; display: inline-block;}
.categories-widget li a:hover { background: #f0f0f0; color: #999;}
.categories-widget li a:hover em{ margin-left: 15px;}

/*Accordion widget*/
.accordion-widget .panel{border-radius: 0; box-shadow: none;}
.accordion-widget .panel h4{-webkit-box-shadow:2px -1px 1px rgba(236, 236, 236, 0.7);
box-shadow:2px -1px 1px rgba(236, 236, 236, 0.7);-moz-box-shadow:1px -1px 1px rgba(236, 236, 236, 0.7);
padding: 15px 15px;border:1px solid #e6e6e6;font-size: 14px;margin: 0;position: relative;cursor: pointer; text-transform: capitalize;}
.accordion-widget .panel-group .panel+.panel{margin-top: 0;}
.accordion-widget li.panel{margin: 0 0 10px; border: 0;}
.accordion-widget li.panel:last-child{margin: 0;}
.accordion-widget li h4::after,
.accordion-widget li h4::before{color: #333; content: "\f068"; font-family:Fontawesome; height: 100%; opacity: 0;
position: absolute; right: 0; text-align: center; top: calc(50% - 7px); width: 35px;}
.accordion-widget li h4::before{content: "\f067"; opacity: 1;}
.accordion-widget [aria-expanded="true"] h4::before {opacity: 0;}
.accordion-widget [aria-expanded="true"] h4::after {opacity: 1; color: #333;}
.accordion-widget li h4::before {content:"\f067"; opacity: 1;}
.side-bar .accordion-widget .panel-collapse { padding: 5px; }

/*twitter accordion*/
.twitter-brand-name h6{margin: 0 0 10px;}
.twitter-brand-name h6 a{display: inline-block;}
.twitter-brand-name:after{content: ''; display: block; clear: both;}
.twitter-brand-name i.fa{font-size: 18px;}
.twitter-brand-name i.fa-twitter{margin: 0 10px 0 0;}
.site-link{display: block;}
.site-link a,
.brand-name p{margin: 0 0 10px;}
.twitter-feed ul > li{padding: 10px 5px 0 5px;}
.twitter-feed { padding: 15px; }



/*Responsive nav*/
.res-logo-holder{text-align: center; padding:40px 0;}
.res-nav{margin: 0 0 20px;text-align: right;}
.res-nav li a{padding: 7px 20px;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 18px;}
.res-nav li a:hover{color: #fff;}
.res-menu-holder p a{display: inline-block; text-decoration: underline;}
.res-menu-holder p{text-align: right;
    font-size: 12px;
    color: #fff;
    padding: 14px;
    font-weight: 700;}
.res-menu-holder p .fa-heart{font-size: 18px;}
.social-style-2{text-align: right;padding: 15px;}
.social-style-2 li{display: inline-block; margin: 0 5px 0 0;}
.social-style-2 li a{font-size: 16px; width: 40px; height: 40px; line-height: 40px; text-align: center; color: #fff;}
.res-menu-holder .logo-holder { float: none; padding-top: 10px;padding-bottom: 50px;}
.res-menu-holder .inner-logo{margin: 0 auto}
.social-style-2 li a:hover { opacity: 0.8; }
.res-menu-holder .inner-logo-2 { margin: 0 auto; }
/*Responsive nav*/
